- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Bar = 'Bar'
- var Speelkamer = 'Speelkamer'

- var klikfoto = 'klik op de foto voor meer ....'

doctype html
html
  include ./include/head.pug
  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .figure.effect-menu
          img(src="images/header/appartementen.jpg")
          figcaption
            h2 Haus
              span  Brabant
            p= koptextsub 
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="index.html" data-bg="bar") Home
              li.nav-link
                a(href="#section-2" data-bg="bar")= Bar
              li.nav-link
                a(href="#section-3" data-bg="speelkamer")= Speelkamer
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="bar")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="barDE.html")
                img(src="images/de.png")
            .nl
              a(href="bar.html")
                img(src="images/nl.png")
            .en
              a(href="barEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Huis Bar (bayernsturb’l)
                p
                  | Onze huisbar is enkel toegankelijk voor onze gasten.  Niks moet, en (bijna) alles mag, Helmut staat met veel plezier achter zijn barretje, en tapt op z’n tijd een lekker Paullanertje.
                p
                  | Onze gastvrijheid en de huislijke sfeer maakt het dat vele die nooit in een bar komen, toch elke avond te vinden zijn bij Helmut in de Sturb’l.
                p
                  | Als het weer het toestaat verzorgen we ook een barbecue met alles erop en eraan op het terras in onze achtertuin.
                  | Met soms nog een kampvuurtje als afsluiter, je zult dan ervaren dat tussen de bergen een geweldige sterrenhemel is.
                P
                  | De wintergasten kunnen u ook vertellen hoe we de brabantse carnaval naar Oostenrijk hebben gehaald.
                  | De apresski wordt dan op de voor ons kenmerkende wijze invulling gegeven.
                P 
                  | Naast de versnaperingen kunt je je ook nog amuseren met:
                ul
                  li tafeltennis
                  li darts
                  li tafelvoetbal
                  li poolbiljart
                  li je partner (geintje..)
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galHoofd/bar6.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  img(src='images/bar/bar1.jpg')
                a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/bar6.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  img(src='images/bar/bar2.jpg')
                a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  img(src='images/bar/bar3.jpg')
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar6jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/bar/bar1.jpg')
                .slide  
                  img(src='images/bar/bar2.jpg')
                .slide  
                  img(src='images/bar/bar3.jpg')
        section#section-3
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Speelkamer
                p
                  | Als de kids het naar hun zin hebben is de vakantie vaak geslaagd is een vaak gehoorde zegswijze.
                  | Vaak is het behelpen op zo'n hotelkamer maar daar hebben wij wat op bedacht!
                p
                  | Voor de kids hebben wij een speelkamer ingericht waar ze lekker kunnen ravotten, klimmen, tafelvoetbal een playstation en alles waar onze eigen kinderen zich ook altijd mee vermaken.
                  | Grootste probleem vormt meestal om ze daar weer weg te krijgen....
                p
                  | Ook in onze achtertuin staan diverse speeltoestellen en een heus piratenschip!
                p
                  | Dus terwijl u een gezellige avond in de bar heeft kunnen uw kids op gepaste afstand lekker zichzelf zijn zodat u beiden een optimale vakantie kunt genieten.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galHoofd/speelkamer1.jpg' rel='speel1' ).groupfb
                  img(src='images/bar/speelkamer1.jpg')
                a(href='images/galHoofd/speelkamer2.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                a(href='images/galHoofd/speelkamer3.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/speelkamer1bar2.jpg' rel='speel1' ).groupfb
                  img(src='images/bar/speelkamer2.jpg')
                a(href='images/galHoofd/speelkamer3.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                a(href='images/galHoofd/speelkamer1.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/bar/speelkamer1.jpg')
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      include ./include/mobilenav.pug
include ./include/footer.pug
