- var taal = 'DE'
if taal == 'NL' 
  include ./include/bar/var_barNL.pug
  include ./include/links.pug
if taal == 'DE'
  include ./include/bar/var_barDE.pug
  include ./include/linksDE.pug
if taal == 'EN'  
  include ./include/bar/var_barEN.pug
  include ./include/linksEN.pug
  
doctype html
html
  include ./include/head.pug
  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .figure.effect-menu
          img(src="images/header/appartementen.jpg")
          figcaption
            h2 Haus
              span  Brabant
            p= koptextsub 
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href= HomeKnop data-bg="bar") Home
              li.nav-link
                a(href="#section-2" data-bg="bar")= Bar
              li.nav-link
                a(href="#section-3" data-bg="speelkamer")= Speelkamer
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="bar")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="barDE.html")
                img(src="images/de.png")
            .nl
              a(href="bar.html")
                img(src="images/nl.png")
            .en
              a(href="barEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/bar/html_barNL.pug
                if taal == 'DE'
                  include ./include/bar/html_barDE.pug
                if taal == 'EN'  
                  include ./include/bar/html_barEN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galHoofd/bar6.jpg' rel='bar1' title= onzebar ).groupfb
                  img(src='images/bar/bar1.jpg')
                a(href='images/galHoofd/bar.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title= onzebar ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/bar6.jpg' rel='bar1' title= onzebar ).groupfb
                  img(src='images/bar/bar2.jpg')
                a(href='images/galHoofd/bar.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title= onzebar ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title= onzebar ).groupfb
                  img(src='images/bar/bar3.jpg')
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar6jpg' rel='bar1' title= onzebar ).groupfb
                a(href='images/galHoofd/bar.jpg' rel='bar1' title= onzebar ).groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/bar/bar1.jpg')
                .slide  
                  img(src='images/bar/bar2.jpg')
                .slide  
                  img(src='images/bar/bar3.jpg')
        section#section-3
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/bar/html_bar2NL.pug
                if taal == 'DE'
                  include ./include/bar/html_bar2DE.pug
                if taal == 'EN'  
                  include ./include/bar/html_bar2EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galHoofd/speelkamer2.jpg' rel='speelkamer1'  title= onzespeel ).groupfb
                  img(src='images/bar/speelkamer1.jpg')
                a(href='images/galHoofd/speelkamer1.jpg' rel='speelkamer1'  title= onzespeel ).groupfb
                a(href='images/galHoofd/speelkamer4.jpg' rel='speelkamer1'  title= onzespeel ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/speelkamer4.jpg' rel='speelkamer2' ).groupfb
                  img(src='images/bar/speelkamer2.jpg')
                a(href='images/galHoofd/speelkamer2.jpg' rel='speelkamer2'  title= onzespeel ).groupfb
                a(href='images/galHoofd/speelkamer1.jpg' rel='speelkamer2'  title= onzespeel ).groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/bar/speelkamer1.jpg')
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
