- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Bar = 'Stube'
- var Speelkamer = 'Spielzimmer'

- var klikfoto = 'Klicken Sie auf das Bild für weitere Foto....'


doctype html
html
  include ./include/head.pug
  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .figure.effect-menu
          img(src="images/header/appartementen.jpg")
          figcaption
            h2 Haus
              span  Brabant
            p= koptextsub 
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="indexDE.html" data-bg="bar") Home
              li.nav-link
                a(href="#section-2" data-bg="bar")= Bar
              li.nav-link
                a(href="#section-3" data-bg="speelkamer")= Speelkamer
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="bar")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="barDE.html")
                img(src="images/de.png")
            .nl
              a(href="bar.html")
                img(src="images/nl.png")
            .en
              a(href="barEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Hause Bar (bayernsturb'l)
                p Unsere Hausbar ist nur für unsere Gäste. Nichts muss, und (fast) alles geht. Helmut macht es ihnen gemütlich und hat auch für Sie ein Paulaner oder Stiegl von Hahn.
                p Unsere Gastfreundschaft und familiäre Atmosphäre macht es, dass viele, die nie in eine Bar kommen, immer noch jede Nacht mit Helmut im Sturb'l zu finden sein.
                p Wenn das Wetter es zulässt, bieten wir auch einen Grill mit allem Drum und Dran auf dem Terrasse in unserem Hinterhof an. Manchmal sogar ein Lagerfeuer zu beenden, dann werden Sie feststellen, dass zwischen den Bergen eine große Sternenhimmel ist.
                p Im Winter gebt es ein gemütliche Atmosphäre und nach Lust und Laune haben wir Après-Ski oder Karaoke in der Stube.
                p Neben den Erfrischungen können Sie auch Spaß haben, mit:
                ul
                  li Tischtennis
                  li Darts
                  li Fußball
                  li Billardtisch
                  li Ihr Partner (Witz..)
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galHoofd/bar6.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  img(src='images/bar/bar1.jpg')
                a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/bar6.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  img(src='images/bar/bar2.jpg')
                a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  img(src='images/bar/bar3.jpg')
                a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar6jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/bar/bar1.jpg')
                .slide  
                  img(src='images/bar/bar2.jpg')
                .slide  
                  img(src='images/bar/bar3.jpg')
        section#section-3
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Spielzimmer
                p Wenn die Kinder eine <strong>gute Ferien</strong> haben wir oft gesagt das ihre auch eine gute ferien hast. 
                p Oft ist es auf Zimmer auch begnügen  mit die Kindern, aber da haben wir etwas auf vorbereitet!
                p Für die Kinder haben wir ein <strong>Spielzimmer</strong>, wo sie um toben, klettern, Tischfußball Play Station und alles wo kindern sich immer mit unterhalten. Das größte <strong>Problem</strong> ist in der Regel, sie wieder raus zu bekommen ....
                p Auch in unserem Garten sind mehrere Spielplätze und ein echtes Piratenschiff!
                p So, während Sie Ihre eigenen Kinder gut im entsprechenden Abstand haben, können Sie beide von eine <strong>gemütliche Abend</strong> in unsere Stube genießen.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galHoofd/speelkamer1.jpg' rel='speelkmaer1' ).groupfb
                  img(src='images/bar/speelkamer1.jpg')
                a(href='images/galHoofd/speelkamer2.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                a(href='images/galHoofd/speelkamer3.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galHoofd/speelkamer2.jpg' rel='speelkamer1' ).groupfb
                  img(src='images/bar/speelkamer2.jpg')
                a(href='images/galHoofd/speelkamer3.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                a(href='images/galHoofd/speelkamer1.jpg' rel='speelkamer1' title='Onze gezellige speelkamer ' ).groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/bar/speelkamer1.jpg')
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
