// menu
- var Zomer = 'Zomer'
- var Winter = 'Winter'
- var Appartement = 'Appartement'
- var Contact = 'Contact'
// var balkzomer
- var koptextzomer = 'Zomer in'
- var koptextsubzomer= 'Een ideale omgeving voor wandelaars, mountainbikers enz.'
- var wandelen =  'Wandelen'
- var wandelensub = ' Diverse wandelwegen en bergoutes ...'
- var mountainbike = 'Mountain bike'
- var mountainbikesub = 'Afwisselende trails en prachtige vergezichten'
- var golf = 'Golf'
- var golfsub = 'Een 9-holes golfbaan met een mooi Alpenpanorama'
- var rodelen = 'Rodelen'
- var rodelensub = 'Een absolute aanrader..'
- var klimmen = 'Klimmen'
- var klimmensub = 'Voor de avontuurlijke medemens een geweldige ervaring'
- var activeiten = 'Activiteiten'
- var activeitensub = 'Dingen die u zeker een keer gezien/gedaan moet hebben'
// var balkwinter
- var koptextwinter= 'Winter in'
- var koptextsubwinter = 'Gegarandeerde winterpret voor het hele gezin'
- var langlaufen = 'Langlaufen'
- var langlaufensub = 'Groot Loipennetwerk...'
- var ski = 'Ski Arena Zugspite'
- var skisub = 'Sneeuwzeker en uitermate geschikt voor gezinnen'
- var rodelen = 'Rodelen'
- var rodelensub = 'Heerlijk rodelen zowel overdag als \'s avonds'
- var wandelen = 'Wandelen'
- var wandelensub = 'Een absolute aanrader..'
- var arrenslee = 'Arrenslee'
- var arrensleesub = 'Geef je vakantie een romantische draai.'
- var uitstapjes = 'Uitstapjes'
- var uitstapjessub = 'Excursiemogelijkheden in de regio en een beetje verder'
// var balkappartementen
- var koptextApp = 'Appartementen'
- var koptextAppsub = 'sfeervol en modern uitgerust'
- var appartementen = 'Appartementen'
- var appartementensub = 'Moderne volledig ingerichte kamers ...'
- var bar = ' Gezellige bar'
- var barsub = 'Biljart, darts, tafeltennis...'
- var speelkamer = 'Speelkamer en Speelplaats'
- var speelkamersub = 'Een paradijsje voor de kleintjes..'
// balkcontact
- var koptextcontact = ' De gezelligste locatie in Tirol'
- var koptextsubcontact = 'altijd staan we met een lach voor u klaar'

// adres
- var straat = 'Straat en huisnr'
- var postcode = 'Postcode'
- var plaats = 'Plaats'
- var email = 'Email-adres'
- var telefoon = 'Telefoonnr'

- var reserveer = 'Reserveer nu'
- var viaform = 'via het formulier'
- var slimkeus = 'fantastisch!!'

// repeat var
- var klikfoto = 'klik op de foto voor meer ....'
- var klikzoover = 'klik om zoover te openen..'
- var klikvideo = 'klik voor impressie'

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.zomer.start-overlay
    overlay.bar
    overlay.winter
    .container
      .header
        .figure.effect-menu
          img(src="images/header/zugspitze.jpg")
          figcaption
            h2 Zugspitz
              span  Arena
            p Ehrwald, Lermoos, Biberwier
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="#" data-bg="zomer") Home
              li.nav-link
                a(href="#section-2" data-bg="zomer")= Zomer
              li.nav-link
                a(href="#section-3" data-bg="winter")= Winter
              li.nav-link
                a(href="#section-4" data-bg="bar")= Appartement
              li.nav-link
                a(href="#section-5" data-bg="bar")= Contact
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="zomer")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de
              a(href="indexDE.html")
                img(src="images/de.png")
            .nl
              a(href="index.html")
                img(src="images/nl.png")
            .en
              a(href="indexEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Proficiat!! Gratuliere!! Congratulations!!
                p
                  | Je bent terecht gekomen bij het gezelligste <strong>appartementenhuis</strong> in Tirol. 
                  a(href='https://www.google.nl/maps/place/Haus+Brabant/@47.4061755,10.9151109,17z/data=!3m1!4b1!4m5!3m4!1s0x479cfd367bc4e725:0xf959551d7caf98f7!8m2!3d47.4061719!4d10.9172996' target='new') 
                    img(src='images/googlemaps.png').gmapsicon
                p Je hebt de parel in Tirol ontdekt en dat is best knap met alle opties en mogelijkheden die het net je tegenwoordig biedt.
                p Wat maakt <strong>Haus Brabant</strong> zo speciaal? 
                  | Comfort in de gloednieuwe appartementen gerealiseerd in een oeroud pand! (1890!). 
                  | Een prachtige combinatie van oud en nieuw, met panoramische blik op alle bergtoppen!.
                p Het voelt als thuiskomen voor iedereen in Winter-Lente-Zomer-Herfst.  
                p De Brabantse gezelligheid in de Stube en rondom het kampvuur is uniek!
                p En dat is geen grootspraak: dat is de mening van onze gasten die deze stelling ook onderschrijven met een <strong>9.3</strong> op Zoover.<br/>
                  | En daar mogen we toch met recht trots op zijn..
                p Wij hopen dat je een heel leuk verblijf bij ons zult hebben, en uitgerust weer thuis komt.
                p Er zijn mogelijkheden te over in de omgeving zowel in de winter als in de zomer.
                p Mochten er vragen zijn na het bekijken van deze site of heb je speciale wensen : wij staan voor jullie klaar.
                p  Liebe Grüße,  <br/>
                  | Helmut und Leonie

                a.a-btn(href='reservering.html')
                  span.a-btn-text= reserveer
                  span.a-btn-slide-text= slimkeus
                  span.a-btn-icon-right
                p
              .zoover
                a(href='http://www.zoover.nl/oostenrijk/tirol/ehrwald/haus-brabant-bayrischerhof-tirol/appartement' target='new')
                  img(style="border: 0px none ; margin: 1px; width: 100%; padding: 0px;" src="http://www.zoover.nl/shared/images2/nl/logosummarywide.png")
              .centerrow
                .periscope
                  span
            .col-lg-4.col-sm-4.fotocontainer
                .foto
                  a(href='images/galHoofd/hausbrabant1.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                    img(src='images/huis.png')
                  a(href='images/galHoofd/hausbrabant2.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  a(href='images/galHoofd/hausbrabant3.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  a(href='images/galHoofd/hausbrabant4.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                    img(src='images/stube.png')
                  a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar6.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galHoofd/kamer1.jpg' rel='kamer1' title='Luxe bedden..' ).groupfb
                    img(src='images/kamer.jpg')
                  a(href='images/galHoofd/kamer2.jpg' rel='kamer1' title='Luxe bedden..' ).groupfb
                  a(href='images/galHoofd/kamer3.jpg' rel='kamer1' title='Handige indeling..' ).groupfb
                  a(href='images/galHoofd/kamer4.jpg' rel='kamer1' title='Voorzien van alle gemakken..' ).groupfb
                  a(href='images/galHoofd/kamer5.jpg' rel='kamer1' title='Lichtinval..' ).groupfb
                  a(href='images/galHoofd/kamer6.jpg' rel='kamer1' title='Luxe bedden..' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='http://www.zoover.nl/oostenrijk/tirol/ehrwald/haus-brabant-bayrischerhof-tirol/appartement' target='new')
                    img(src='images/zoover1.jpg')
                  .kliktosee
                    span
                      p= klikzoover
        section#section-2
          .row#ZomerID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/zomerbalk.jpg')
                figcaption
                  h2= koptextzomer
                    span  Ehrwald
                  p= koptextsubzomer
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/wandelen.jpg")
                      figcaption
                        h2= wandelen
                        p= wandelensub
                        a(href="zomer.html") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/mountainbike.jpg")
                      figcaption
                        h2= mountainbike
                        p= mountainbikesub
                        a(href="zomer.html#section-3") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/golf.jpg")
                      figcaption
                        h2= golf
                        p= golfsub
                        a(href="zomer.html#section-4") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/rodeln.jpg")
                      figcaption
                        h2= rodelen
                        p= rodelensub
                        a(href="zomer.html#section-5") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/klimmen.jpg")
                      figcaption
                        h2=  klimmen
                        p= klimmensub
                        a(href="zomer.html#section-6") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/uitstapje.jpg")
                      figcaption
                        h2= activeiten
                        p= activeitensub
                        a(href="zomer.html#section-7") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | Haus Brabant ligt midden in het romantische dorpje Ehrwald te midden van een dal wat bekend staat als de Zugspitzarena.<br/>
                p 
                  | Deze naam komt een aantal misschien bekend voor en komt van de Zugspitze: de hoogste berg van Duitsland!?! <br/>
                  | Inderdaad Duitsland, de  grens ligt namelijk boven op de berg, maar Ehrwald ligt toch echt in Oostenrijk! De typische en traditionele bouwstijl vind je hier dan ook volop terug. Ehrwald is het grootste dorp(je) van de 3 in dit dal.
                p 
                  | Maar wat maakt het ook uit, je bent in ieder geval goed terecht gekomen, want hier is erg veel te doen in de zomer!
                p 
                  | Vanaf Ehrwald beginnen schitterende wandelingen, voor de fanatieke wandelaar, de nordic walker, maar ook voor de echter klimmer. 
                p 
                  | We zitten in een dal dat omringt is door bergtoppen,  wat inhoudt dat je zowel vele kilometers als hoogte meters kunt maken.
                  |  Een rondje fietsen gaat dan ook erg makkelijk of juist heel moeilijk voor diegene die daar fan van is.  Fiets/mountain bike routes te over, van eenvoudig tot echte kuitenbijters.
                p 
                  | In de Zugspitzarena vind je een 8-tal bergmeertjes, het ene wat warmer dan het andere.  Om de hoek zit een mooie grote waterval,  hierin zwemmen is voor de echte bikkels.
                p
                  | Bekijk eens een de onderstaande video om een impressie te krijgen van het landschap.

          .row
            .col-sm-12
              .videozomer
                .grid.videovoorbeeld.animated(data-os-animation='fadeInLeft')
                  .figure
                    img(src='images/zomer/videozomer.jpg' )
                    figcaption
                      h2 Video Ehrwald
                      span= klikvideo
                      a(href="http://www.youtube.com/embed/FaxgLmY7M68?autohide=1&autoplay=1&controls=0" data-validation-minlength-message="Min 5 characters" class='fancybox.iframe').fancybox-media
        section#section-3
          .row#WinterID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/winterbalk.jpg')
                figcaption
                  h2= koptextwinter
                    span  Ehrwald
                  p= koptextsubwinter
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/langlauf.jpg")
                      figcaption
                        h2= langlaufen
                        p= langlaufensub
                        a(href="winter.html#section-2") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/skiblok.jpg")
                      figcaption
                        h2= ski
                        p= skisub
                        a(href="winter.html#section-3") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/avondrodel.jpg")
                      figcaption
                        h2= rodelen
                        p= rodelensub
                        a(href="winter.html#section-4") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/winterwandel.jpg")
                      figcaption
                        h2= wandelen
                        p= wandelensub
                        a(href="winter.html#section-5") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/arrenslee.jpg")
                      figcaption
                        h2= arrenslee
                        p= arrensleesub
                        a(href="winter.html#section-6") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/garmisch.jpg")
                      figcaption
                        h2= uitstapjes
                        p= uitstapjessub
                        a(href="winter.html#section-6") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | Waarom zou je voor een wintervakantie verder rijden dan nodig? Bij ons vind je het <strong> eerste</strong> skigebied in het noorden van Tirol!
                p
                  | Bij winter denk je vaak aan kou en sneeuw. Maar wist je dat er vaak hoge temperaturen gehaald worden in de winter in Oostenrijk? Door de droge berglucht is het vaak minder koud dan je denkt.
                p
                  | Veel van de gasten komen om de skipistes te verkennen. Door de aanwezigheid sneeuwkanonnen, en de gletscher op de Zugspitze is sneeuw gegarandeerd.
                p   
                  | Vanaf ons huis kijk je op een deel van de pistes. De Zugspitzarena telt 139km pistes, diverse funparks, en een off piste strekke voor de liefhebber.  <br/>
                  | Recht voor ons huis start je je langlauf route.  100km loipen heb je gratis ter beschikking! <br/>
                  | En voor degene die van spanning, avontuur en actie houden vind je hier ook  Snowparks en Freeridetrails. 
                p  
                  | Mocht je nu echt niet zo van sport houden, in het zonnetje boven op de berg , met een lekker bakje koffie kom je je dag ook vast door. 
              .videozomer
                .grid.videovoorbeeld.animated(data-os-animation='fadeInLeft')
                  .figure
                    img(src='images/winter/ski3.jpg' )
                    figcaption
                      h2 Video Ehrwald
                      span= klikvideo
                      a(href="http://www.youtube.com/embed/A4r_8q5_rvw?autohide=1&autoplay=1&controls=0" class='fancybox.iframe').fancybox-media
        section#section-4
          .row#AccomodatieID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/appartementen.jpg')
                figcaption
                  h2= koptextApp
                    span  Haus Brabant
                  p= koptextAppsub
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/kamers.jpg")
                      figcaption
                        h2= appartementen
                        p= appartementensub
                        a(href="appartement.html") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/bar.jpg")
                      figcaption
                        h2= bar
                        p= barsub
                        a(href="bar.html#section-2") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/speelkamer.jpg")
                      figcaption
                        h2= speelkamer
                        p= speelkamersub
                        a(href="bar.html#section-3") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | Haus Brabant heeft 9 appartementen voor 2 tm 8 personen. Waarvan de nieuwste een overkapt terras van maar liefst 40m2 kent! <br>
                  | Alle appartementen zijn ruim van opzet en recent gerenoveerd
                p
                  | Haus Brabant ligt aan de hoofdstraat, de (ski)bus stopt voor de deur. Het centrum, de supermarkt en de restaurants zijn op loopafstand. 
                p
                  | Voor de wintersporters hebben we een aparte ruimte met schoenverwarmers zodat u de volgende dag altijd met droge en warme voeten de pistes kunt verkennen. 
                  | In de zomer voldoet deze ruimte als fietsenstalling zodat uw eigendom veilig is opgeborgen.
              a.a-btn(href='reservering.html')
                span.a-btn-text= reserveer
                span.a-btn-slide-text= viaform
                span.a-btn-icon-right
                  span
        section#section-5
          .row#ContactID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/contactheader.jpg')
                figcaption
                  h2 Haus Brabant
                    span= koptextcontact
                  p= koptextsubcontact
            .col-lg-12.nabalk
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | Je kunt op diverse manieren contact met ons opnemen. Mits het niet midden in de nacht is zullen we je zo snel mogelijk te woord staan.
                p
                  | Laat bij voorkeur een mailtje op <span class="reverse">moc.tnabarbsuah@ofni</span> achter of stuur een whatsapp dan kunnen we u altijd bericht geven mochten we niet in staat zijn om uw boodschap direct aan te nemen.
                p
                  | Voor reserveringen kunt u gebruik maken van onderstaande link.<br>
                  | Mocht deze echter aangeven dat er geen mogelijkheden zijn kunt u via het reserveringsformulier uw wensen doorgeven. <br>
                  | Misschien kunnen we het eea schuiven zodat we u toch kunnen plaatsen.<br>
                  | U kunt natuurlijk ook altijd bellen  (tel:+43 6 50 41 65 726).
                p
                  | <strong>Haus Brabant</strong>
              .row
                .col-lg-3.col-sm-4.col-xs-6
                  p.adresfont
                    = straat
                    | <br/>
                    = postcode
                    | <br>
                    = plaats
                    | <br>
                    = email
                    | <br>
                    = telefoon
                    | <br>
                .col-lg-3.col-sm-4.col-xs-6
                  p.adresfont
                    | Haupstrasse 108 <br>
                    | 6632<br>
                    | Ehrwald<br>
                    | <span class="reverse">moc.tnabarbsuah@ofni</span><br>
                    | +43056073202431<br>
              br
              a.a-btn(href='reservering.html')
                span.a-btn-text= reserveer
                span.a-btn-slide-text= slimkeus
                span.a-btn-icon-right
                  span
        .footer 
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
