// menu
- var Zomer = 'Summer'
- var Winter = 'Winter'
- var Appartement = 'Appartments'
- var Contact = 'Contact'
// var balkzomer
- var koptextzomer = 'Summer in'
- var koptextsubzomer= 'Een ideale omgeving voor wandelaars, mountainbikers enz.'
- var wandelen =  'Wandelen'
- var wandelensub = ' Diverse wandelwegen en bergoutes ...'
- var mountainbike = 'Mountain bike'
- var mountainbikesub = 'Afwisselende trails en prachtige vergezichten'
- var golf = 'Golf'
- var golfsub = 'Een prachtige 9 holes baan met prachtige greens voor de ware golf liefhebber'
- var rodelen = 'Rodelen'
- var rodelensub = 'Een absolute aanrader..'
- var klimmen = 'Klimmen'
- var klimmensub = 'Voor de avontuurlijke medemens een geweldige ervaring'
- var activeiten = 'Activiteiten'
- var activeitensub = 'Dingen die u zeker een keer gezien/gedaan moet hebben'
// var balkwinter
- var koptextwinter= 'Winter in'
- var koptextsubwinter = 'Gegarandeerde winterpret voor het hele gezin'
- var langlaufen = 'Langlaufen'
- var langlaufensub = 'Keuze uit loipes te over...  '
- var ski = 'Ski Arena Zugspite'
- var skisub = 'Sneeuwzeker en uitermate geschikt voor gezinnen'
- var rodelen = 'Rodelen'
- var rodelensub = 'Heerlijk rodelen zowel overdag als \'s avonds'
- var wandelen = 'Wandelen'
- var wandelensub = 'Een absolute aanrader..'
- var arrenslee = 'Arrenslee'
- var arrensleesub = 'Geef je vakantie een romantische draai.'
- var uitstapjes = 'Uitstapjes'
- var uitstapjessub = 'Bezoek de pittoreske plaatsen in de directe omgeving'
// var balkappartementen
- var koptextApp = 'Appartementen'
- var koptextAppsub = 'sfeervol en modern uitgerust'
- var appartementen = 'Appartementen'
- var appartementensub = 'Moderne volledig ingerichte kamers ...'
- var bar = ' Gezellige bar'
- var barsub = 'Biljart, darts, tafeltennis...'
- var speelkamer = 'Speelkamer'
- var speelkamersub = 'Een paradijsje voor de kleintjes..'
// balkcontact
- var koptextcontact = ' De gezelligste locatie in Tirol'
- var koptextsubcontact = 'altijd staan we met een lach voor u klaar'

// adres
- var straat = 'Street and number'
- var postcode = 'Postalcode'
- var plaats = 'City'
- var email = 'Email-address'
- var telefoon = 'Phonenumber'

- var reserveer = 'Reserve now'
- var viaform = 'use the form'
- var slimkeus = 'a smart choice'

// repeat var
- var klikfoto = 'klik op de foto voor meer ....'
- var klikzoover = 'klik om zoover te openen..'
- var klikvideo = 'klik voor impressie'

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.zomer.start-overlay
    overlay.bar
    overlay.winter
    .container
      .header
        .figure.effect-menu
          img(src="images/header/zugspitze.jpg")
          figcaption
            h2 Zugspitz
              span  Arena
            p Ehrwald, Lermoos, Biberwier
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="#" data-bg="zomer") Home
              li.nav-link
                a(href="#section-2" data-bg="zomer")= Zomer
              li.nav-link
                a(href="#section-3" data-bg="winter")= Winter
              li.nav-link
                a(href="#section-4" data-bg="bar")= Appartement
              li.nav-link
                a(href="#section-5" data-bg="bar")= Contact
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="zomer")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de
              a(href="indexDE.html")
                img(src="images/de.png")
            .nl
              a(href="index.html")
                img(src="images/nl.png")
            .en
              a(href="indexEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Proficiat!
                p
                  | Je bent terecht gekomen bij het gezelligste <strong>appartementenhuis</strong> in Tirol.
                  a(href='https://www.google.com/maps/place/Haus+Brabant/@47.4061755,10.9151109,17z/data=!3m1!4b1!4m5!3m4!1s0x479cfd367bc4e725:0xf959551d7caf98f7!8m2!3d47.4061719!4d10.9172996' target='new') 
                    img(src='images/googlemaps.png').gmapsicon                  
                p
                  | <strong> Wie zijn wij?</strong> Wij zijn een jong gezin met 5 kinderen. <br> Helmut, Leonie, Joy, Brett, Sky, Yesse en Kate
                p
                  | Onze jeugd hebben wij doorgebracht in het Brabantse Lieshout en Beek en Donk. Samen hebben wij de laatste jaren in het dorpje Waalre gewoond, van waaruit wij verhuist zijn naar Tirol.
                p
                  | In 2009 hebben wij dit huis overgenomen van een Oostenrijkse familie. De eerste jaren hebben wij de naam Bayricherhof-tirol doorgevoerd.
                p
                  | Nadat wij in 2011 de naam brabantsegezelligheid hebben geïntroduceerd zijn wij in 2012 verder gegaan als Haus Brabant.
                p
                  | Haus Brabant heeft 9 appartementen en een 2-4 pers. kamer. Het voorste gedeelte van ons huis dateerde nog uit 1890 en is in 2016 geheel verbouwd.
                  | De appartementen bevinden zich aan de achterzijde van ons huis, en hebben een panoramische uitkijk op de "Zugspitze".
                p
                  | Bent je op zoek naar een heerlijke welverdiende vakantie?<br> Stop dan maar met zoeken want bij ons in HAUS BRABANT in Ehrwald bent je gegarandeerd aan het juiste adres. <br>
                  | Bij aankomst krijg je van ons voldoende informatie en uitleg over de omgeving. Genoeg om weken vooruit te kunnen!
                p
                  | Niet voor niets hebben we vele "regulars"; mensen die ons al vele jaren op rij bezoeken!
                p
                  | Met trots verwijzen wij dan ook naar onze referentie op Zoover vakantiebeoordelingen<br>
                a.a-btn(href='reserveringEN.html')
                  span.a-btn-text= reserveer
                  span.a-btn-slide-text= slimkeus
                  span.a-btn-icon-right
              .zoover
                a(href='http://www.zoover.nl/oostenrijk/tirol/ehrwald/haus-brabant-bayrischerhof-tirol/appartement' target='new')
                  img(style="border: 0px none ; margin: 1px; width: 100%; padding: 0px;" src="http://www.zoover.nl/shared/images2/nl/logosummarywide.png")
              .centerrow
                .periscope
            .col-lg-4.col-sm-4.fotocontainer
                .foto
                  a(href='images/galHoofd/hausbrabant1.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                    img(src='images/huis.png')
                  a(href='images/galHoofd/hausbrabant2.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  a(href='images/galHoofd/hausbrabant3.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  a(href='images/galHoofd/hausbrabant4.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galHoofd/bar.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                    img(src='images/stube.png')
                  a(href='images/galHoofd/bar2.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar3.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar4.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar5.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar6.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  a(href='images/galHoofd/bar7.jpg' rel='bar1' title='Onze gezellige bar ' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galHoofd/kamer1.jpg' rel='kamer1' title='Luxe bedden..' ).groupfb
                    img(src='images/kamer.jpg')
                  a(href='images/galHoofd/kamer2.jpg' rel='kamer1' title='Luxe bedden..' ).groupfb
                  a(href='images/galHoofd/kamer3.jpg' rel='kamer1' title='Handige indeling..' ).groupfb
                  a(href='images/galHoofd/kamer4.jpg' rel='kamer1' title='Voorzien van alle gemakken..' ).groupfb
                  a(href='images/galHoofd/kamer5.jpg' rel='kamer1' title='Lichtinval..' ).groupfb
                  a(href='images/galHoofd/kamer6.jpg' rel='kamer1' title='Luxe bedden..' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='http://www.zoover.nl/oostenrijk/tirol/ehrwald/haus-brabant-bayrischerhof-tirol/appartement' target='new')
                    img(src='images/zoover1.jpg')
                  .kliktosee
                    span
                      p= klikzoover
        section#section-2
          .row#ZomerID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/zomerbalk.jpg')
                figcaption
                  h2= koptextzomer
                    span  Ehrwald
                  p= koptextsubzomer
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/wandelen.jpg")
                      figcaption
                        h2= wandelen
                        p= wandelensub
                        a(href="zomerEN.html") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/mountainbike.jpg")
                      figcaption
                        h2= mountainbike
                        p= mountainbikesub
                        a(href="zomerEN.html#section-3") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/golf.jpg")
                      figcaption
                        h2= golf
                        p= golfsub
                        a(href="zomerEN.html#section-4") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/rodeln.jpg")
                      figcaption
                        h2= rodelen
                        p= rodelensub
                        a(href="zomerEN.html#section-5") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/klimmen.jpg")
                      figcaption
                        h2=  klimmen
                        p= klimmensub
                        a(href="zomerEN.html#section-6") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/uitstapje.jpg")
                      figcaption
                        h2= activeiten
                        p= activeitensub
                        a(href="zomerEN.html#section-7") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                 | Ehrwald ligt in een prachtig dal waar 3 dorpen (Lermoos, Biberwier en Ehrwald) centraal liggen. Prachtige wandelwegen, zowel in de vallei als avontuurlijk de hellingen op trekken al vel
                p
                 | Talrijke wandelwegen en bergroutes op de spitsen van het Wetterstein- en Ammergebergte in de Lechtaler Alpen en Mieminger Kette worden zowel door wandelaars als bergbeklimmers met open armen begroet.
                 | Men wordt hier met fraaie uitzichten in de ware zin van het woord verwend. De acht bergmeertjes van het gebied rondom de Zugspitze zijn absoluut landschappelijke juweeltjes.
                 | Een total van over 150 verschillende Wandelroutes zijn beschikbaar.
                 | De selectie varieert van lichte paden verspreid over avontuurlijke paden tot uitdagende klimmtochten en bergtoppen. De grootste uitdaging is de populaire Zugspitze met 2962 meter.
          .row
            .col-sm-12
              .videozomer
                .grid.videovoorbeeld.animated(data-os-animation='fadeInLeft')
                  .figure
                    img(src='images/zomer/videozomer.jpg' )
                    figcaption
                      h2 Video Ehrwald
                      span= klikvideo
                      a(href="http://www.youtube.com/embed/FaxgLmY7M68?autohide=1&autoplay=1&controls=0" data-validation-minlength-message="Min 5 characters" class='fancybox.iframe').fancybox-media
        section#section-3
          .row#WinterID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/winterbalk.jpg')
                figcaption
                  h2= koptextwinter
                    span  Ehrwald
                  p= koptextsubwinter
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/langlauf.jpg")
                      figcaption
                        h2= langlaufen
                        p= langlaufensub
                        a(href="winterEN.html#section-2") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/skiblok.jpg")
                      figcaption
                        h2= ski
                        p= skisub
                        a(href="winterEN.html#section-3") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/avondrodel.jpg")
                      figcaption
                        h2= rodelen
                        p= rodelensub
                        a(href="winterEN.html#section-4") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/winterwandel.jpg")
                      figcaption
                        h2= wandelen
                        p= wandelensub
                        a(href="winterEN.html#section-5") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/arrenslee.jpg")
                      figcaption
                        h2= arrenslee
                        p= arrensleesub
                        a(href="winterEN.html#section-6") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/garmisch.jpg")
                      figcaption
                        h2= uitstapjes
                        p= uitstapjessub
                        a(href="winterEN.html#section-6") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | Het Zugspitze-ski gebied is uitermate geschikt voor gezinnen met kinderen. Door de aanwezigheid van de gletscher op de Zugspitze is sneeuw gegarandeerd.
                p
                  | Het ski-gebied loopt van 900 to 2700m en zijn uitgerust met sneeuw-installatie's mocht de natuur zelf zijn werk niet optimaal gedaan hebben.
                  | Het totale skigebied van Ehrwald valt in drie delen uiteen. Deze drie gebieden met in totaal 64,5 km piste.
                p
                  | Ideale gebieden voor gezinnen met kinderen; de pistes in Biberwier en Ehrwald hebben een centraal dalpunt zodat u uw kinderen nooit kwijt raakt.
                  | Maar ook de sportievelingen kunnen hun hart ophalen in het Fun parc op de Ehrwalder Alm of de uitdaging opzoeken in het nabij gelegen Garmisch (bekend van de hanenkam rennen).
                  | De Tiroler Zugspitz Arena biedt u 7 sensationele skigebieden, die allemaal snel kunnen worden bereikt en aan alle eisen voldoen. 139 km pistes (inclusief 93 km kunstmatig besneeuwd) en 58 liften zijn voor u beschikbaar.
                p
                  | Op 3 km van Ehrwald voert een grote zweefbaan in tien minuten naar de top van de Zugspitze (2964 meter), de hoogste berg van Duitsland.
                  | Het ritje is zo spectaculair dat er ook veel mensen zonder skiuitrusting gebruik van maken. Onder de top van de Zugspitze ligt het skigebied Zugspitzplatt (gletsjer)
                  | dat eveneens vanuit Garmisch-Partenkichen (Duitsland) per bergtreintje te bereiken is.
              .videozomer
                .grid.videovoorbeeld.animated(data-os-animation='fadeInLeft')
                  .figure
                    img(src='images/winter/ski3.jpg' )
                    figcaption
                      h2 Video Ehrwald
                      span= klikvideo
                      a(href="http://www.youtube.com/embed/A4r_8q5_rvw?autohide=1&autoplay=1&controls=0" class='fancybox.iframe').fancybox-media
        section#section-4
          .row#AccomodatieID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/appartementen.jpg')
                figcaption
                  h2= koptextApp
                    span  Haus Brabant
                  p= koptextAppsub
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/kamers.jpg")
                      figcaption
                        h2= appartementen
                        p= appartementensub
                        a(href="appartementEN.html") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/bar.jpg")
                      figcaption
                        h2= bar
                        p= barsub
                        a(href="barEN.html#section-2") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/speelkamer.jpg")
                      figcaption
                        h2= speelkamer
                        p= speelkamersub
                        a(href="barEN.html#section-3") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | We hebben 9 appartementen van diverse afmetingen voor 2 tm 8 personen. Een aantal is recent gerenoveerd zodat het u tijdens uw verblijf aan niets ontbreekt. <br>
                  | Alle appartementen zijn ruim van opzet en zijn goed uitgerust met TV en complete keuken. Voor een mooi beeld van deze appartementen en hun indeling hebben we onder het kopje appartementen de layout en diverse foto's toegevoegd.
                p
                  | Ons huis ligt aan de hoofdstraat, de (ski)bus stopt voor de deur. Het centrum, de supermarkt en de restaurants vind u op loopafstand.
                p
                  | Voor de wintersporters hebben we een aparte ruimte met schoenverwarmers zodat u de volgende dag altijd met droge en warme voeten de pistes kunt verkennen.
              a.a-btn(href='reserveringEN.html')
                span.a-btn-text= reserveer
                span.a-btn-slide-text= viaform
                span.a-btn-icon-right
                  span
        section#section-5
          .row#ContactID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/contactheader.jpg')
                figcaption
                  h2 Haus Brabant
                    span= koptextcontact
                  p= koptextsubcontact
            .col-lg-12.nabalk
          .row
            .col-lg-12
              .editcms.cms-editable
                p
                  | Je kunt op diverse manieren contact met ons opnemen. Mits het niet midden in de nacht is zullen we je zo snel mogelijk te woord staan.
                p
                  | Laat bij voorkeur een mailtje op <span class="reverse">moc.tnabarbsuah@ofni</span> achter of stuur een whatsapp dan kunnen we u altijd bericht geven mochten we niet in staat zijn om uw boodschap direct aan te nemen.
                p
                  | Voor reserveringen kunt u gebruik maken van onderstaande link.<br>
                  | Mocht deze echter aangeven dat er geen mogelijkheden zijn kunt u via het reserveringsformulier uw wensen doorgeven. <br>
                  | Misschien kunnen we het eea schuiven zodat we u toch kunnen plaatsen.<br>
                  | U kunt natuurlijk ook altijd bellen  (tel:+43 6 50 41 65 726).
                p
                  | <strong>Haus Brabant</strong>
              .row
                .col-lg-3.col-sm-4.col-xs-6
                  p.adresfont
                    = straat
                    | <br/>
                    = postcode
                    | <br>
                    = plaats
                    | <br>
                    = email
                    | <br>
                    = telefoon
                    | <br>
                .col-lg-3.col-sm-4.col-xs-6
                  p.adresfont
                    | Haupstrasse 108 <br>
                    | 6632<br>
                    | Ehrwald<br>
                    | <span class="reverse">moc.tnabarbsuah@ofni</span><br>
                    | +43056073202431<br>
              br
              a.a-btn(href='reserveringEN.html')
                span.a-btn-text= reserveer
                span.a-btn-slide-text= slimkeus
                span.a-btn-icon-right
                  span
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
