- var taal = 'EN'
if taal == 'NL' 
  include ./include/index/var_indexNL.pug
  include ./include/links.pug
if taal == 'DE'
  include ./include/index/var_indexDE.pug
  include ./include/linksDE.pug
if taal == 'EN'  
  include ./include/index/var_indexEN.pug
  include ./include/linksEN.pug

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.zomer.start-overlay
    overlay.bar
    overlay.winter
  if taal == 'NL'
    div#fbcontainer
      div#facebook_tab
      div#facebookcontainer
        include ./include/fbplugin.html
  endif
    .container
      .header
        .figure.effect-menu
          img(src="images/header/zugspitze.jpg")
          figcaption
            h2 Zugspitz
              span  Arena
            p Ehrwald, Lermoos, Biberwier
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="#" data-bg="zomer") Home
              li.nav-link
                a(href="#section-2" data-bg="zomer")= Zomer
              li.nav-link
                a(href="#section-3" data-bg="winter")= Winter
              li.nav-link
                a(href="#section-4" data-bg="bar")= Appartement
              li.nav-link
                a(href="#section-5" data-bg="bar")= Contact
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="zomer")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de
              a(href="indexDE.html")
                img(src="images/de.png")
            .nl
              a(href="index.html")
                img(src="images/nl.png") 
            .en
              a(href="indexEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/index/html_index1.pug
                if taal == 'DE'
                  include ./include/index/html_index1DE.pug
                if taal == 'EN'
                  include ./include/index/html_index1EN.pug
                a.a-btn(href= reserveerknop)
                  span.a-btn-text= reserveer
                  span.a-btn-slide-text= slimkeus
                  span.a-btn-icon-right
                p
              .zoover
                a(href= zooverlink target='new')
                  img(style="border: 0px none ; margin: 1px; width: 100%; padding: 0px;" src= zooverlinkimg)
              .centerrow
                .periscope
                  span
            .col-lg-4.col-sm-4.fotocontainer
                .foto
                  a(href='images/galHoofd/hausbrabant1.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                    img(src='images/huis.png')
                  a(href='images/galHoofd/hausbrabant2.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  a(href='images/galHoofd/hausbrabant3.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  a(href='images/galHoofd/hausbrabant4.jpg' rel='group1' title='Haus Brabant ' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galHoofd/bar.jpg' rel='bar1' title= onzebar ).groupfb
                    img(src='images/stube.png')
                  a(href='images/galHoofd/speelkamer1.jpg' rel='bar1' title='De speelkamer ' ).groupfb
                  a(href='images/galHoofd/bar2.jpg' rel='bar1' title= onzebar ).groupfb
                  a(href='images/galHoofd/bar3.jpg' rel='bar1' title= onzebar ).groupfb
                  a(href='images/galHoofd/bar4.jpg' rel='bar1' title= onzebar ).groupfb
                  a(href='images/galHoofd/bar5.jpg' rel='bar1' title= onzebar ).groupfb
                  a(href='images/galHoofd/bar6.jpg' rel='bar1' title= onzebar ).groupfb
                  a(href='images/galHoofd/bar7.jpg' rel='bar1' title= onzebar ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galHoofd/kamer1.jpg' rel='kamer1' ).groupfb
                    img(src='images/kamer.jpg')
                  a(href='images/galHoofd/kamer2.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer3.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer4.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer5.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer6.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer7.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer8.jpg' rel='kamer1' ).groupfb
                  a(href='images/galHoofd/kamer9.jpg' rel='kamer1' ).groupfb
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href= zooverlink target='new')
                    img(src='images/zoover1.jpg')
                  .kliktosee
                    span
                      p= klikzoover
        section#section-2
          .row#ZomerID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/zomerbalk.jpg')
                figcaption
                  h2= koptextzomer
                    span  Ehrwald
                  p= koptextsubzomer
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/wandelen.jpg")
                      figcaption
                        h2= wandelen
                        p= wandelensub 
                        a(href= zomerlink) View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/mountainbike.jpg")
                      figcaption
                        h2= mountainbike
                        p= mountainbikesub
                        a(href= zomerlink+"#section-3") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/golf.jpg")
                      figcaption
                        h2= golf
                        p= golfsub
                        a(href= zomerlink+"#section-4") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/rodeln.jpg")
                      figcaption
                        h2= rodelen
                        p= rodelensub
                        a(href= zomerlink+"#section-5") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/klimmen.jpg")
                      figcaption
                        h2=  klimmen
                        p= klimmensub
                        a(href= zomerlink+"#section-6") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/uitstapje.jpg")
                      figcaption
                        h2= activeiten
                        p= activeitensub
                        a(href= zomerlink+"#section-7") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/index/html_index2.pug
                if taal == 'DE'
                  include ./include/index/html_index2DE.pug
                if taal == 'EN'  
                  include ./include/index/html_index2EN.pug
          .row
            .col-sm-12 
              .videozomer
                .grid.videovoorbeeld.animated(data-os-animation='fadeInLeft')
                  .figure
                    img(src='images/zomer/videozomer.jpg' )
                    figcaption
                      h2 Video Ehrwald
                      span= klikvideo
                      a(href="http://www.youtube.com/embed/FaxgLmY7M68?autohide=1&autoplay=1&controls=0" data-validation-minlength-message="Min 5 characters" class='fancybox.iframe').fancybox-media
        section#section-3
          .row#WinterID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/winterbalk.jpg')
                figcaption
                  h2= koptextwinter
                    span  Ehrwald
                  p= koptextsubwinter
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/langlauf.jpg")
                      figcaption
                        h2= langlaufen
                        p= langlaufensub
                        a(href= winterlink+"#section-2") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/skiblok.jpg")
                      figcaption
                        h2= ski
                        p= skisub
                        a(href= winterlink+"#section-3") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/avondrodel.jpg")
                      figcaption
                        h2= rodelen
                        p= rodelensub
                        a(href= winterlink+"#section-4") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/winterwandel.jpg")
                      figcaption
                        h2= wandelen
                        p= wandelensub
                        a(href= winterlink+"#section-5") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/arrenslee.jpg")
                      figcaption
                        h2= arrenslee
                        p= arrensleesub
                        a(href= winterlink+"#section-6") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath.winter
                      img(src="images/blokken/garmisch.jpg")
                      figcaption
                        h2= uitstapjes
                        p= uitstapjessub
                        a(href= winterlink+"#section-6") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/index/html_index3.pug
                if taal == 'DE'
                  include ./include/index/html_index3DE.pug
                if taal == 'EN'  
                  include ./include/index/html_index3EN.pug
              .videozomer
                .grid.videovoorbeeld.animated(data-os-animation='fadeInLeft')
                  .figure
                    img(src='images/winter/ski3.jpg' )
                    figcaption
                      h2 Video Ehrwald
                      span= klikvideo
                      a(href="http://www.youtube.com/embed/A4r_8q5_rvw?autohide=1&autoplay=1&controls=0" class='fancybox.iframe').fancybox-media
        section#section-4
          .row#AccomodatieID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/appartementen.jpg')
                figcaption
                  h2= koptextApp
                    span  Haus Brabant
                  p= koptextAppsub
            .col-lg-12.nabalk
              .row
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInLeft')
                    .figure.effect-goliath
                      img(src="images/blokken/kamers.jpg")
                      figcaption
                        h2= appartementen
                        p= appartementensub
                        a(href= appartementlink) View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeIn')
                    .figure.effect-goliath
                      img(src="images/blokken/bar.jpg")
                      figcaption
                        h2= bar
                        p= barsub
                        a(href= barlink+"#section-2") View more
                .col-lg-4.col-sm-6.col-xs-6
                  .grid.animated(data-os-animation='fadeInRight')
                    .figure.effect-goliath
                      img(src="images/blokken/speelkamer.jpg")
                      figcaption
                        h2= speelkamer
                        p= speelkamersub
                        a(href= barlink+"#section-3") View more
          .row
            .col-lg-12
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/index/html_index4.pug
                if taal == 'DE'
                  include ./include/index/html_index4DE.pug
                if taal == 'EN'  
                  include ./include/index/html_index4EN.pug
              a.a-btn(href= reserveerknop)
                span.a-btn-text= reserveer
                span.a-btn-slide-text= viaform
                span.a-btn-icon-right
                  span
        section#section-5
          .row#ContactID
            .divider
            .col-lg-12
              .figure.effect-menu
                img(src='images/header/contactheader.jpg')
                figcaption
                  h2 Haus Brabant
                    span= koptextcontact
                  p= koptextsubcontact
            .col-lg-12.nabalk
          .row
            .col-lg-12
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/index/html_index5.pug
                if taal == 'DE'
                  include ./include/index/html_index5DE.pug
                if taal == 'EN'  
                  include ./include/index/html_index5EN.pug
              .row
                .col-lg-3.col-sm-4.col-xs-6
                  p.adresfont
                    = straat
                    | <br/>
                    = postcode
                    | <br>
                    = plaats
                    | <br>
                    = email
                    | <br>
                    = telefoon
                    | <br>
                .col-lg-3.col-sm-4.col-xs-6
                  p.adresfont
                    | Haupstrasse 108 <br>
                    | 6632<br>
                    | Ehrwald<br>
                    | <span class="reverse">moc.tnabarbsuah@ofni</span><br>
                    | +43056073202431<br>
              br
              a.a-btn(href= reserveerknop)
                span.a-btn-text= reserveer
                span.a-btn-slide-text= slimkeus
                span.a-btn-icon-right
                  span
        .footer 
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
