- var taal = 'NL'
if taal == 'NL' 
  include ./include/winter/var_winterNL.pug
  include ./include/links.pug
if taal == 'DE'
  include ./include/winter/var_winterDE.pug
  include ./include/linksDE.pug
if taal == 'EN'  
  include ./include/winter/var_winterEN.pug
  include ./include/linksEN.pug

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.winter.start-overlay
    overlay.langlaufen
    overlay.skiien
    overlay.wandelsnow
    include ./include/sidetabs.pug
    .container
      .header
        .figure.effect-menu
          img(src="images/header/winterbalk.jpg")
          figcaption
            h2= koptext
              span  Ehrwald
            p= koptextsub
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href= HomeKnop data-bg="winter") Home
              li.nav-link
                a(href="#section-2" data-bg="langlaufen")= Langaufen
              li.nav-link
                a(href="#section-3" data-bg="skiien")= Ski
              li.nav-link
                a(href="#section-4" data-bg="skiien")= Rodelen
              li.nav-link
                a(href="#section-5" data-bg="wandelsnow")= Wandelen
              li.nav-link
                a(href="#section-6" data-bg="wandelsnow")= Activiteiten
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="winter")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="winterDE.html")
                img(src="images/de.png")
            .nl
              a(href="winter.html")
                img(src="images/nl.png")
            .en
              a(href="winterEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cushycms
                if taal == 'NL' 
                  include ./include/winter/html_winter1NL.pug
                if taal == 'DE'
                  include ./include/winter/html_winter1DE.pug
                if taal == 'EN'  
                  include ./include/winter/html_winter1EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  a(href='images/galWinter/langlauf1.jpg' rel='wandelgroup' title='langlaufen').groupfb
                    img(src='images/winter/langlauf1.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galWinter/langlauf2.jpg' rel='wandelgroup' title='langlaufen..').groupfb
                    img(src='images/winter/langlauf2.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                  a(href='images/galWinter/langlauf3.jpg' rel='wandelgroup' title='langlaufen..').groupfb
                  a(href='images/galWinter/langlauf4.jpg' rel='wandelgroup' title='langlaufen..').groupfb
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/winter/langlauf1.jpg')
                .slide  
                  img(src='images/winter/langlauf2.jpg')
        section#section-3
          .row#ZomerID
            .divider
            .col-lg-8.col-sm-8
              .editcms.cushycms
                if taal == 'NL' 
                  include ./include/winter/html_winter2NL.pug
                if taal == 'DE'
                  include ./include/winter/html_winter2DE.pug
                if taal == 'EN'  
                  include ./include/winter/html_winter2EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galWinter/ski1.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski1.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galWinter/ski2.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski2.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galWinter/ski3.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski3.jpg')
                .kliktosee
                  span
                    p= klikfoto
                a(href='images/galWinter/ski4.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                a(href='images/galWinter/ski5.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
          .row
            .col-lg-12
              .containtable
                | <!--[if !IE]><!-->
                | <style>
                | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
                |  td:nth-of-type(1):before { content: "#{Plaats}"; }
                |  td:nth-of-type(2):before { content: "#{Lengte}"; }
                |  td:nth-of-type(3):before { content: "#{Gebied}"; }
                |  td:nth-of-type(4):before { content: "Web"; }
                | }
                | </style>
                | <!--<![endif]-->
                table.animated(data-os-animation='fadeIn')
                  tbody
                    thead
                      th= Plaats
                      th= lengte
                      th= Gebied
                      th Web
                    tr
                      td Ehrwald
                      td 17,0 km Piste
                      td Zugsspitze
                      td
                        a(href='http://www.Zugspitze.at' target='new') www.Zugspitze.at
                    tr
                      td Ehrwald
                      td 26,0 km Piste
                      td Ehrwalder Alm
                      td
                        a(href='http://www.ehrwalderalmbahn.at' target='new') www.ehrwalderalmbahn.at
                    tr
                      td Ehrwald
                      td 17,0 km Piste
                      td Wettersteinbahnen Sonnenlifte
                      td
                        a(href='http://www.wetterstein-bahnen.at' target='new') www.wetterstein-bahnen.at
                    tr
                      td Lermoos
                      td 33,0 km Piste
                      td Grubigsteinbahnen
                      td
                        a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                    tr
                      td Biberwier
                      td 14,0 km Piste
                      td Marienberg
                      td
                        a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                    tr
                      td Berwang/Bichlbach
                      td 35,4 km Piste
                      td Skischaukel Berwangertal / Almkopfbahn
                      td
                        a(href='http://www.skischaukel-berwang.at' target='new') www.skischaukel-berwang.at
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto2
                .slide
                  img(src='images/winter/ski1.jpg')
                .slide  
                  img(src='images/winter/ski2.jpg')
                .slide  
                  img(src='images/winter/ski3.jpg')
        section#section-4
          .row#WinterID
            .divider
            .col-lg-8.col-sm-8
              .editcms.cushycms
                if taal == 'NL' 
                  include ./include/winter/html_winter3NL.pug
                if taal == 'DE'
                  include ./include/winter/html_winter3DE.pug
                if taal == 'EN'  
                  include ./include/winter/html_winter3EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/rodelen1.jpg')
              .foto
                img(src='images/winter/rodelen2.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/rodelen1.jpg')
        section#section-5
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cushycms
                if taal == 'NL' 
                  include ./include/winter/html_winter4NL.pug
                if taal == 'DE'
                  include ./include/winter/html_winter4DE.pug
                if taal == 'EN'  
                  include ./include/winter/html_winter4EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/wandelen1.jpg')
              .foto
                img(src='images/winter/wandelen2.jpg')
              .foto
                img(src='images/winter/wandelen3.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/wandelen1.jpg')
        section#section-6
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cushycms
                if taal == 'NL' 
                  include ./include/winter/html_winter5NL.pug
                if taal == 'DE'
                  include ./include/winter/html_winter5DE.pug
                if taal == 'EN'  
                  include ./include/winter/html_winter5EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/arrenslee1.jpg' alt='Arrenslee')
              .foto
                img(src='images/winter/avondski1.jpg' alt='Avond ski in Bergwang')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/avondski1.jpg')
          .row
            .col-lg-12
              h3= Uitstapjes
              .containtable
                | <!--[if !IE]><!-->
                | <style>
                | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
                |  td:nth-of-type(1):before { content: "#{Type}"; }
                |  td:nth-of-type(2):before { content: "#{Bezienswaardigheid}"; }
                |  td:nth-of-type(3):before { content: "#{Plaats}"; }
                |  td:nth-of-type(4):before { content: "#{Land}"; }
                |  td:nth-of-type(5):before { content: "km"; }
                |  td:nth-of-type(6):before { content: "min"; }
                | }
                | </style>
                | <!--<![endif]-->
                table.animated(data-os-animation='fadeIn')
                  thead
                    tr
                      th= Type
                      th= Bezienswaardigheid
                      th= Plaats
                      th= Land
                      th km
                      th minuten
                  tbody
                    tr
                      td= Meer
                      td 
                        a(href='http://www.zugspitzarena.com' target='new') Plansee Heiterwang
                      td Heiterwang
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Blindsee
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Mittersee
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Loisachquellen
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.eibsee.de' target='new') EibSee
                      td Grainau
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td= Waterval
                      td
                        a(href='http://www.leutasch.net' target='new') Geisterklamm
                      td Leutasch
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.parnachklamm-info.de' target='new') Partnachklamm
                      td Garmisch-Partenkichen
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.hoellentalklamm-info.de' target='new') Höllentalklamm
                      td Grainaus
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.imst.at/de/naturjuwele/rosengartenschlucht-blaue-grotte-1609625.html' target='new') Rosengartenschlucht
                      td Imst
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.stuibenfall.com' target='new') Stuibenfall
                      td Umhausen
                      td 
                        img(src= 'images/au.png')
                      td 67.2
                      td 66
                    tr
                      td &nbsp
                      td
                        a(href='http://www.stuibenfaelle.at' target='new') Stuibenfälle
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 20
                      td 24
                    tr
                      td= Kastelen
                      td
                        a(href='http://www.schlosslinderhof.de' target='new') Schloß Linderhof
                      td Ettal
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.kloster-ettal.de' target='new') Kloster Ettal
                      td Ettal
                      td 
                        img(src= 'images/de.png')
                      td 36.7
                      td 36
                    tr
                      td &nbsp
                      td 
                        a(href='http://www.neuschwanstein.de' target='new') "het sprookjeskasteel"
                      td Neuschwanstein	Schwangau
                      td 
                        img(src= 'images/de.png')
                      td 40.9
                      td 40
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.fernsteinsee.at' target='new') Schloß Fernstein en Fernstein See
                      td Nassereith
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp 
                      td
                        a(href='http:/www.hohenschwangau.de' target='new') Kasteel Hohenschwangau
                      td Füssen
                      td 
                        img(src= 'images/de.png')
                      td 39.2
                      td 36
                    tr
                      td &nbsp 
                      td
                        a(href='www.ehrenberg.at' target='new') Burgenwelten Ehrenberg
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 18.4
                      td 19
                    tr
                      td &nbsp
                      td
                        a(href='http://www.linderhof.de' target='new') Kasteel Linderhof
                      td Ettak
                      td 
                        img(src= 'images/de.png')
                      td 45.9
                      td 48
                    tr
                      td= Divers
                      td
                        a(href='http://kristallwelten.swarovski.com' target='new') Swarovski kristalwerelden
                      td Wattens
                      td 
                        img(src= 'images/au.png')
                      td 97
                      td 74
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.glentleiten.de' target='new') Openluchtmuseum Glentleiten
                      td Grossweil
                      td 
                        img(src= 'images/de.png')
                      td 52.8
                      td 47
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.knappenwelt.at' target='new') Knappenwelt Gurgltal
                      td Tarrenz
                      td 
                        img(src= 'images/au.png')
                      td 31.6
                      td 32
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.oetzi-dorf.at' target='new') Ötzi dorp - Umhausen
                      td Umhausen
                      td 
                        img(src= 'images/au.png')
                      td 65.3
                      td 62
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.highline179.com' target='new') Highline 179
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 20
                      td 22
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.dachau.nl' target='new') Concentratiekamp
                      td Dachau
                      td 
                        img(src= 'images/de.png')
                      td 127
                      td 92
                    tr
                      td Stadt
                      td
                        a(href='http://www.gapa.de' target='new') Garmisch-Partenkichen
                      td Garmisch-Partenkichen
                      td 
                        img(src= 'images/de.png')
                      td 22.3
                      td 22
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.muenchen.de' target='new') München
                      td München
                      td 
                        img(src= 'images/de.png')
                      td 111
                      td 87
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.innsbruck.info' target='new') Innsbruck
                      td Innsbruck
                      td 
                        img(src= 'images/au.png')
                      td 82.5
                      td 68
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.fuessen.de' target='new') Füssen
                      td Füssen
                      td 
                        img(src= 'images/de.png')
                      td 40.9
                      td 40
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
