- var koptext= 'Winter in'
- var koptextsub = 'garantierter Winterspaß für die ganze Familie'

// menu
- var Langaufen = 'Langaufen'
- var Ski = 'Ski'
- var Rodelen = 'Rodlen' 
- var Wandelen = 'Wandern'
- var Activiteiten = 'Aktivitäten'

// table
- var Bezienswaardigheid = 'Sehenswürdigkeit'
- var Plaats = 'Standort'
- var Land = 'Land'
- var Webpagina = 'Web'
- var lengte = 'Länge'
- var Gebied = 'Bereich'
// repeat varBe
- var klikfoto = 'klicken Sie auf das Foto für mehr ....'

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.winter.start-overlay
    overlay.langlaufen
    overlay.skiien
    overlay.wandelsnow
    .container
      .header
        .figure.effect-menu
          img(src="images/header/winterbalk.jpg")
          figcaption
            h2= koptext
              span  Ehrwald
            p= koptextsub
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="indexDE.html" data-bg="winter") Home
              li.nav-link
                a(href="#section-2" data-bg="langlaufen")= Langaufen
              li.nav-link
                a(href="#section-3" data-bg="skiien")= Ski
              li.nav-link
                a(href="#section-4" data-bg="skiien")= Rodelen
              li.nav-link
                a(href="#section-5" data-bg="wandelsnow")= Wandelen
              li.nav-link
                a(href="#section-6" data-bg="wandelsnow")= Activiteiten
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="winter")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="winterDE.html")
                img(src="images/de.png")
            .nl
              a(href="winter.html")
                img(src="images/nl.png")
            .en
              a(href="winterEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Langaufen
                p Die große offene Fläche zwischen Ehrwald, Lermoos und Biberwier ist ein Paradies für Liebhaber von Langlaufloipen. Es gibt alle Arten von Drehmomentgängen in die Nachbartäler.
                p Toller Bonus: alle Langlaufstrecken können kostenlos benützt werden!
                p Insgesamt umfasst das Loipennetz über 110 km, jeweils Klassisch und zum Skaten. Die einzelnen Strecken sind abwechslungsreich und bieten sowohl für ambitionierte und ruhigere Sportler das Passende.
                p Schneesicherheit garantieren die Hochloipen sowie die beschneibare Golfrundloipe direkt am Fuße der Zugspitze.
                p Schönes Highlight: auf den Nachtloipen kann man seine Runden unter dem Sternenhimmel drehen.
                p Für langlauftouren:  
                  a(href='http://www.zugspitzarena.com/de/info-service/tourenportal?submit2=1&regionen=&streckemin=0&streckemax=84.6&category=45&dauermin=0&dauermax=46&grad=' target='new') info
                
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  a(href='images/galWinter/langlauf1.jpg' rel='wandelgroup' title='langlaufen').groupfb
                    img(src='images/winter/langlauf1.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galWinter/langlauf2.jpg' rel='wandelgroup' title='langlaufen..').groupfb
                    img(src='images/winter/langlauf2.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                  a(href='images/galWinter/langlauf3.jpg' rel='wandelgroup' title='langlaufen..').groupfb
                  a(href='images/galWinter/langlauf4.jpg' rel='wandelgroup' title='langlaufen..').groupfb
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/winter/langlauf1.jpg')
                .slide  
                  img(src='images/winter/langlauf2.jpg')
        section#section-3
          .row#ZomerID
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Ski / Snowboard
                p Erste Skiregion im Norden Tirols
                p Die Tiroler Zugspitz Arena bietet Dir 7 sensationelle Skigebiete, die alle schnell erreicht werden können und jedem Anspruch gerecht werden. 139 Pistenkilometer (davon 93 km beschneit) und 58 Bergbahnen stehen Dir zur Verfügung.
                p Skifahren auf der Zugspitze, in Ehrwald, Lermoos, Biberwier, Bichlbach oder Berwang bedeutet Abwechslung und unvergessliches Schneevergnügen. Von einfachen Pisten für Anfänger und Familien bis hin zu fordernden Abfahrten für geübte Skifahrer ist alles dabei.
                p Wer Nervenkitzel, Abenteuer und Action sucht, ist in den Snowparks und auf den Freeridestrecken der Tiroler Zugspitz Arena bestens aufgehoben.
                p Aufregende Pipes und abwechslungsreiche Hindernisse warten auf Deine spektakulären Stunts. In den Snowparks wird es bestimmt nicht langweilig.
                p Unberührter Tiefschnee, menschenleere Abfahrten und ein atemberaubendes Alpenpanorama: das ist Freeride in Lermoos. Die Freeridestre
                p Für einen Überblick über die Möglichkeiten zeigt der Ehrwalder Alm alle Info:
                  a(href='images/winter/skikaartehrwald.pdf' target='new') Ski-kaart Ehrwald
                p
                  | Ook voor de snow-boarders heeft Ehrwald heel wat te bieden. Een uitgebreid snowpark met giga jumps en allerlei rails.<br>
                  | Voor een overzicht van de mogelijkheden geeft de site van de
                  a(href='http://www.almbahn.at/nl/winter/skigebied/snowpark/' target='new') Ehrwalder Alm
                  |  alle info
                p
                  | Op 3 km van Ehrwald voert een grote zweefbaan in tien minuten naar de top van de Zugspitze (2964 meter), de hoogste berg van Duitsland.
                  | Het ritje is zo spectaculair dat er ook veel mensen zonder skiuitrusting gebruik van maken.
                  | Onder de top van de Zugspitze ligt het skigebied Zugspitzplatt (gletscher) dat eveneens vanuit Garmisch-Partenkichen (Duitsland) per bergtreintje te bereiken is.
                  | Door de hoge ligging vind je hier droomsneeuw van november tot mei, en heeft Ehrwald altijd gegarandeerde sneeuwzekerheid achter de hand. Allemaal heerlijke blauwe en rode carvingpistes geflankeerd door offpiste-hellingen.
                  | Via een spectaculaire offpiste route is het mogelijk af te dalen naar de Ehrwalder Alm. (Neue Welt)
                  | Buiten de pistes is de Zugspitzplatt dus een waar diepsneeuwparadijs.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galWinter/ski1.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski1.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galWinter/ski2.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski2.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galWinter/ski3.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski3.jpg')
                .kliktosee
                  span
                    p= klikfoto
                a(href='images/galWinter/ski4.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                a(href='images/galWinter/ski5.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
          .row
            .col-lg-12
              .containtable
                | <!--[if !IE]><!-->
                | <style>
                | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
                |  td:nth-of-type(1):before { content: "Standort"; }
                |  td:nth-of-type(2):before { content: "Länge "; }
                |  td:nth-of-type(3):before { content: "Bereich "; }
                |  td:nth-of-type(4):before { content: "Web"; }
                | }
                | </style>
                | <!--<![endif]-->
                table.animated(data-os-animation='fadeIn')
                  tbody
                    thead
                      th= Plaats
                      th= lengte
                      th= Gebied
                      th Web
                    tr
                      td Ehrwald
                      td 17,0 km Piste
                      td Zugsspitze
                      td
                        a(href='http://www.Zugspitze.at' target='new') www.Zugspitze.at
                    tr
                      td Ehrwald
                      td 26,0 km Piste
                      td Ehrwalder Alm
                      td
                        a(href='http://www.ehrwalderalmbahn.at' target='new') www.ehrwalderalmbahn.at
                    tr
                      td Ehrwald
                      td 17,0 km Piste
                      td Wettersteinbahnen Sonnenlifte
                      td
                        a(href='http://www.wetterstein-bahnen.at' target='new') www.wetterstein-bahnen.at
                    tr
                      td Lermoos
                      td 33,0 km Piste
                      td Grubigsteinbahnen
                      td
                        a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                    tr
                      td Biberwier
                      td 14,0 km Piste
                      td Marienberg
                      td
                        a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                    tr
                      td Berwang/Bichlbach
                      td 35,4 km Piste
                      td Skischaukel Berwangertal / Almkopfbahn
                      td
                        a(href='http://www.skischaukel-berwang.at' target='new') www.skischaukel-berwang.at
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto2
                .slide
                  img(src='images/winter/ski1.jpg')
                .slide  
                  img(src='images/winter/ski2.jpg')
                .slide  
                  img(src='images/winter/ski3.jpg')
        section#section-4
          .row#WinterID
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Rodeln
                p Ein absolutes Highlight in jedem Urlaub! Nachtrodeln auf die beleuchtete Talabfahrt der Ehwalder Almbahn . Das Tirolerhaus, die Ehrwalder Alm, die Ganghofer Hütte und die Brentalm sorgen während der Rodelabende für Euer leibliches Wohl. Mit Live Musik wird der Abend so richtig stimmungsvoll.
                p Länge: 3 km Höhenunterschied: 400m
                p Rodeln wird ein zur stimmigen Abwechslung, am Grubigstein in Lermoos geht Loss. Hier befindet sich die längste Naturrodelbahn der Region. Rodeln wird hier zur stimmigen Abwechslung.
                p Länge: 3,5 km Höhenunterschied: 330 m
                p Start: Brettlalm | Mittelstation Grubigstein | Lermoos
                p Ziel: Talstation Hochmoosexpress Grubigstein | Lermoos

            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/rodelen1.jpg')
              .foto
                img(src='images/winter/rodelen2.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/rodelen1.jpg')
        section#section-5
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Zauberhaftes Winterwunderland
                p Wandern ist nur etwas für den Sommer? Ganz und gar nicht! Die Bergwelt hat im Winter viel zu bieten! 
                p Auf über 60 km geräumten Winterwanderwegen lässt sich gesunde Höhenluft tanken und die zauberhafte Schneelandschaft genießen. Stapfe gemütlich oder sportlich durch die weiße Idylle und kombiniere Deinen Tag mit einer Einkehr auf einer Skihütte. Beim Winterwandern in der Tiroler Zugspitz Arena kommst Du bestimmt auf Deine Kosten. 
                p Für einen Überblick von winterwandern 
                  a(href='http://www.zugspitzarena.com/de/tourdetail?tour=1503657' target='new') wegen

            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/wandelen1.jpg')
              .foto
                img(src='images/winter/wandelen2.jpg')
              .foto
                img(src='images/winter/wandelen3.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/wandelen1.jpg')
        section#section-6
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1= Activiteiten
                h3 Pferdeschlittenfahrt
                p Wild romantisch lässt sich die Tiroler Zugspitz Arena bei einer Pferdeschlittenfahrt erkunden.<br> Dick eingepackt und in Decken gehüllt kannst Du so die bezaubernde Winteridylle erkunden. Ein Muss für jeden Urlaub!
                p <br>
                p <br>
                h3 Nachtskilauf
                p Skifahren bei Nacht. Hell erleuchtete Pisten und das Lichtermeer im Tal machen die Nacht zu einem besonderen Erlebnis für Pistenfreunde. Wer seinen Skitag verlängern oder einfach einmal bei Nacht auf die Piste möchte gibt es Möglichkeiten in Lermoos und Berwang.
              
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/arrenslee1.jpg' alt='Arrenslee')
              .foto
                img(src='images/winter/avondski1.jpg' alt='Avond ski in Bergwang')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/avondski1.jpg')
          .row
            .col-lg-12
              h3= Activiteiten
              .containtable
                | <!--[if !IE]><!-->
                | <style>
                | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
                |  td:nth-of-type(1):before { content: "Type"; }
                |  td:nth-of-type(2):before { content: "Sehenswürdigkeit"; }
                |  td:nth-of-type(3):before { content: "Standort"; }
                |  td:nth-of-type(4):before { content: "Land"; }
                |  td:nth-of-type(5):before { content: "km"; }
                |  td:nth-of-type(6):before { content: "min"; }
                | }
                | </style>
                | <!--<![endif]-->
                table.animated(data-os-animation='fadeIn')
                  thead
                    tr
                      th= Type
                      th= Bezienswaardigheid
                      th= Plaats
                      th= Land
                      th km
                      th minuten
                  tbody
                    tr
                      td See
                      td 
                        a(href='http://www.zugspitzarena.com' target='new') Plansee Heiterwang
                      td Heiterwang
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Blindsee
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Mittersee
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Loisachquellen
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.eibsee.de' target='new') EibSee
                      td Grainau
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td Klamm/waterval
                      td
                        a(href='http://www.leutasch.net' target='new') Geisterklamm
                      td Leutasch
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.parnachklamm-info.de' target='new') Partnachklamm
                      td Garmisch-Partenkichen
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.hoellentalklamm-info.de' target='new') Höllentalklamm
                      td Grainaus
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.imst.at/de/naturjuwele/rosengartenschlucht-blaue-grotte-1609625.html' target='new') Rosengartenschlucht
                      td Imst
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.stuibenfall.com' target='new') Stuibenfall
                      td Umhausen
                      td 
                        img(src= 'images/au.png')
                      td 67.2
                      td 66
                    tr
                      td &nbsp
                      td
                        a(href='http://www.stuibenfaelle.at' target='new') Stuibenfälle
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 20
                      td 24
                    tr
                      td Kastelen
                      td
                        a(href='http://www.schlosslinderhof.de' target='new') Schloß Linderhof
                      td Ettal
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.kloster-ettal.de' target='new') Kloster Ettal
                      td Ettal
                      td 
                        img(src= 'images/de.png')
                      td 36.7
                      td 36
                    tr
                      td &nbsp
                      td 
                        a(href='http://www.neuschwanstein.de' target='new') "het sprookjeskasteel"
                      td Neuschwanstein	Schwangau
                      td 
                        img(src= 'images/de.png')
                      td 40.9
                      td 40
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.fernsteinsee.at' target='new') Schloß Fernstein en Fernstein See
                      td Nassereith
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp 
                      td
                        a(href='http:/www.hohenschwangau.de' target='new') Kasteel Hohenschwangau
                      td Füssen
                      td 
                        img(src= 'images/de.png')
                      td 39.2
                      td 36
                    tr
                      td &nbsp 
                      td
                        a(href='www.ehrenberg.at' target='new') Burgenwelten Ehrenberg
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 18.4
                      td 19
                    tr
                      td &nbsp
                      td
                        a(href='http://www.linderhof.de' target='new') Kasteel Linderhof
                      td Ettak
                      td 
                        img(src= 'images/de.png')
                      td 45.9
                      td 48
                    tr
                      td Divers
                      td
                        a(href='http://kristallwelten.swarovski.com' target='new') Swarovski kristalwerelden
                      td Wattens
                      td 
                        img(src= 'images/au.png')
                      td 97
                      td 74
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.glentleiten.de' target='new') Openluchtmuseum Glentleiten
                      td Grossweil
                      td 
                        img(src= 'images/de.png')
                      td 52.8
                      td 47
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.knappenwelt.at' target='new') Knappenwelt Gurgltal
                      td Tarrenz
                      td 
                        img(src= 'images/au.png')
                      td 31.6
                      td 32
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.oetzi-dorf.at' target='new') Ötzi dorp - Umhausen
                      td Umhausen
                      td 
                        img(src= 'images/au.png')
                      td 65.3
                      td 62
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.highline179.com' target='new') Highline 179
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 20
                      td 22
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.dachau.nl' target='new') Concentratiekamp
                      td Dachau
                      td 
                        img(src= 'images/de.png')
                      td 127
                      td 92
                    tr
                      td Stadt
                      td
                        a(href='http://www.gapa.de' target='new') Garmisch-Partenkichen
                      td Garmisch-Partenkichen
                      td 
                        img(src= 'images/de.png')
                      td 22.3
                      td 22
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.muenchen.de' target='new') München
                      td München
                      td 
                        img(src= 'images/de.png')
                      td 111
                      td 87
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.innsbruck.info' target='new') Innsbruck
                      td Innsbruck
                      td 
                        img(src= 'images/au.png')
                      td 82.5
                      td 68
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.fuessen.de' target='new') Füssen
                      td Füssen
                      td 
                        img(src= 'images/de.png')
                      td 40.9
                      td 40
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
