- var koptext= 'Winter in'
- var koptextsub = 'Gegarandeerde winterpret voor het hele gezin'

// menu
- var Langaufen = 'Langaufen'
- var Ski = 'Ski'
- var Rodelen = 'Rodelen' 
- var Wandelen = 'Wandelen'
- var Activiteiten = 'Activiteiten'

// table
- var Bezienswaardigheid = 'Bezienswaardigheid'
- var Plaats = 'Plaats'
- var Land = 'Land'
- var Webpagina = 'Webpagina'
- var lengte = 'lengte'
- var Gebied = 'Gebied'
// repeat var
- var klikfoto = 'klik op de foto voor meer ....'

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.winter.start-overlay
    overlay.langlaufen
    overlay.skiien
    overlay.wandelsnow
    .container
      .header
        .figure.effect-menu
          img(src="images/header/winterbalk.jpg")
          figcaption
            h2= koptext
              span  Ehrwald
            p= koptextsub
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href="indexEN.html" data-bg="winter") Home
              li.nav-link
                a(href="#section-2" data-bg="langlaufen")= Langaufen
              li.nav-link
                a(href="#section-3" data-bg="skiien")= Ski
              li.nav-link
                a(href="#section-4" data-bg="skiien")= Rodelen
              li.nav-link
                a(href="#section-5" data-bg="wandelsnow")= Wandelen
              li.nav-link
                a(href="#section-6" data-bg="wandelsnow")= Activiteiten
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="winter")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="winterDE.html")
                img(src="images/de.png")
            .nl
              a(href="winter.html")
                img(src="images/nl.png")
            .en
              a(href="winterEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Langaufen
                p
                  | De grote open vlakte tussen Ehrwald, Lermoos en Biberwier is een eldorado voor de loipen liefhebber.
                  | Daarnaast zijn er allerlei koppeltrajecten naar naburige dalen.
                p
                  | De Hochloipe Ehrwalder Alm nodigt uit tot een sprookjesachtige rondtocht te midden van een sneeuwrijk landschap op 1500 meter hoogte.
                  | Regionaal 100 km loipen, met afwisselende hoogtes van 996–1847 meter.
                  | Deze Loipen hebben een totale lengte van 63 km, verdeelt in;<br>
                  | Blauw (licht): 8 km<br>
                  | Rood (middel): 20 km<br>
                  | Zwart (zwaar): 15 km<br>
                  | Groen (Skate): 10 km<br>
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  a(href='images/galWinter/langlauf1.jpg' rel='wandelgroup' title='langlaufen').groupfb
                    img(src='images/winter/langlauf1.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galWinter/langlauf2.jpg' rel='wandelgroup' title='langlaufen..').groupfb
                    img(src='images/winter/langlauf2.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                  a(href='images/galWinter/langlauf3.jpg' rel='wandelgroup' title='langlaufen..').groupfb
                  a(href='images/galWinter/langlauf4.jpg' rel='wandelgroup' title='langlaufen..').groupfb
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/winter/langlauf1.jpg')
                .slide  
                  img(src='images/winter/langlauf2.jpg')
        section#section-3
          .row#ZomerID
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Ski / Snowboard
                p
                  | De Zugspitz Arena omvat meerdere dorpen waar met een en dezelfde ski-kaart terecht kunt.
                  | U kunt skieen van Bergwang tot het Duitse Garmisch met zijn bekende Hanenkam. <br>
                  | Door de aanwezigheid van de gletscher op de Zugspitze is dit gebied verzekerd van sneeuw.<br>
                p
                  | Het totale skigebied van Ehrwald valt in drie delen uiteen.
                p
                  | Deze drie gebieden met in totaal 64,5 km piste.<br>
                  | Aan de rand van het dorp ligt het kleine skigebied Wetterstein. Hier krijgen beginnende skiërs heerlijke oefenpistes voorgeschoteld.
                p
                  | Een logisch vervolg hierop is de Ehrwalder Alm, een modern opgezet sneeuwdomein met een cabinelift, twee stoeltjesliften en drie sleepliften. Met de sneeuwzekerheid zit het wel snor want de skipistes kunnen kunstmatig worden besneeuwd. Vooral gevorderde skiërs komen op de Alm goed aan hun trekken.
                  | Ehrwald beschikt over een prima skischool en een kinderskischool (snowland) met opvang tussen de middag.
                p
                  | Voor een overzicht van het ski gebied zie hier :
                  a(href='images/winter/skikaartehrwald.pdf' target='new') Ski-kaart Ehrwald
                p
                  | Ook voor de snow-boarders heeft Ehrwald heel wat te bieden. Een uitgebreid snowpark met giga jumps en allerlei rails.<br>
                  | Voor een overzicht van de mogelijkheden geeft de site van de
                  a(href='http://www.almbahn.at/nl/winter/skigebied/snowpark/' target='new') Ehrwalder Alm
                  |  alle info
                p
                  | Op 3 km van Ehrwald voert een grote zweefbaan in tien minuten naar de top van de Zugspitze (2964 meter), de hoogste berg van Duitsland.
                  | Het ritje is zo spectaculair dat er ook veel mensen zonder skiuitrusting gebruik van maken.
                  | Onder de top van de Zugspitze ligt het skigebied Zugspitzplatt (gletsjer) dat eveneens vanuit Garmisch-Partenkichen (Duitsland) per bergtreintje te bereiken is.
                  | Door de hoge ligging vind je hier droomsneeuw van november tot mei, en heeft Ehrwald altijd gegarandeerde sneeuwzekerheid achter de hand. Allemaal heerlijke blauwe en rode carvingpistes geflankeerd door offpiste-hellingen.
                  | Via een spectaculaire offpiste route is het mogelijk af te dalen naar de Ehrwalder Alm. (Neue Welt)
                  | Buiten de pistes is de Zugspitzplatt dus een waar diepsneeuwparadijs.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galWinter/ski1.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski1.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galWinter/ski2.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski2.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galWinter/ski3.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                  img(src='images/winter/ski3.jpg')
                .kliktosee
                  span
                    p= klikfoto
                a(href='images/galWinter/ski4.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
                a(href='images/galWinter/ski5.jpg' rel='ski' title='Tiroler Zugspitz Arena/Christoph Jordan' ).groupfb
          .row
            .col-lg-12
              .containtable
                | <!--[if !IE]><!-->
                | <style>
                | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
                |  td:nth-of-type(1):before { content: "Plaats"; }
                |  td:nth-of-type(2):before { content: "Lengte"; }
                |  td:nth-of-type(3):before { content: "Gebied"; }
                |  td:nth-of-type(4):before { content: "Web"; }
                | }
                | </style>
                | <!--<![endif]-->
                table.animated(data-os-animation='fadeIn')
                  tbody
                    thead
                      th= Plaats
                      th= lengte
                      th= Gebied
                      th Web
                    tr
                      td Ehrwald
                      td 17,0 km Piste
                      td Zugsspitze
                      td
                        a(href='http://www.Zugspitze.at' target='new') www.Zugspitze.at
                    tr
                      td Ehrwald
                      td 26,0 km Piste
                      td Ehrwalder Alm
                      td
                        a(href='http://www.ehrwalderalmbahn.at' target='new') www.ehrwalderalmbahn.at
                    tr
                      td Ehrwald
                      td 17,0 km Piste
                      td Wettersteinbahnen Sonnenlifte
                      td
                        a(href='http://www.wetterstein-bahnen.at' target='new') www.wetterstein-bahnen.at
                    tr
                      td Lermoos
                      td 33,0 km Piste
                      td Grubigsteinbahnen
                      td
                        a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                    tr
                      td Biberwier
                      td 14,0 km Piste
                      td Marienberg
                      td
                        a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                    tr
                      td Berwang/Bichlbach
                      td 35,4 km Piste
                      td Skischaukel Berwangertal / Almkopfbahn
                      td
                        a(href='http://www.skischaukel-berwang.at' target='new') www.skischaukel-berwang.at
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto2
                .slide
                  img(src='images/winter/ski1.jpg')
                .slide  
                  img(src='images/winter/ski2.jpg')
                .slide  
                  img(src='images/winter/ski3.jpg')
        section#section-4
          .row#WinterID
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Rodelen
                p
                  | Uw sneeuwvakantie is niet compleet als je dit niet een keer ervaren hebt.
                p
                  | Alleen of met zijn tweeën de berg af suizen. Heerlijk de berg af kun je overdag op de BrentAlm tot onder in het dorp.
                p
                  | Elke woensdag en vrijdagavond is er vanaf de Ehrwalder Alm een te gekke rodel gelegenheid over een verlichte piste.<br>
                  | Let wel op met drankgebruik, deze avonden kunnen zeer gezellig zijn ;).
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/rodelen1.jpg')
              .foto
                img(src='images/winter/rodelen2.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/rodelen1.jpg')
        section#section-5
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Wandelen
                p
                  | De "Zugspitz Arena" staat voor kilometers wandelplezier in de winter.
                  | Ideaal voor de niet-skiërs, terwijl de kinderen of kleinkinderen skiën zijn, lekker door de verse sneeuw wandelen.
                p
                  | Dagelijks worden de wandelpaden onderhouden door mini-sneeuwruimers. In het toeristenbureau kan je wandelkaartjes krijgen.
                p
                  | Alle wandelingen zijn goed bewegwijzerd zodat je ook zonder kaart niet snel verloren zal lopen.
                  | De wandelpaden die in de winter vrijgemaakt zijn, zijn voor iedereen goed te doen. Ook met een iets minder goede conditie kan je deze wegen aan.
                  | De 3 dorpjes Ehrwald, Lermoos en Biberwier liggen in een heel groot dal, hierdoor kan je ook kilometers vlak wandelen.
                  | Je hebt ook altijd de mogelijkheid om met de skibus mee te pendelen in het dal. Laat je bijvoorbeeld afzetten in het ene dorp en loop heerlijk wandelend naar je bestemming.
                p
                  | <i>Wandeling 1: De weideweg tussen Ehrwald en Lermoos.</I><br>
                  | De ideale wandeling om je wintervakantie mee te starten. Héél gemakkelijk en volledig vlak. Je wandelt tussen 2 muren van sneeuw van het ene dorp na het andere. In Ehrwald start je bij hotel “Zum Grünen Baum”, waar je afdaalt naar de weide en in Lermoos vertrek je meestal tegenover de camping of langs “hotel Post”. De wandeling duurt zo'n 45 minuten en je hebt de mooiste zichten onderweg. Er staan veel banken zodat je altijd wel ergens in het zonnetje kan genieten. Er loopt een riviertje langs de weg zodat je voortdurend het kabbelende water hoort. Neem ook je tijd om eens in het riviertje te kijken, het water is zo helder dat je de forellen ziet zwemmen! Vooral in de schaduw van de bruggen kan je ze terugvinden.
                  | 's Morgens vroeg zorgt dit riviertje soms voor een sprookjesachtig effect, er hangt dan een lage mist en de bomen in de weide hangen vol met sneeuw.
                p
                  | <i>Wandeling 2: De panoramaweg tussen Ehrwald en Lermoos.</i><br>
                  | Een mooie wandeling met enkel in het begin en einde een beetje stijgen en dalen. In Ehrwald vertrek je in de buurt van het Esso benzinestation, even onder de grote brug door en vervolgens links omhoog. Vanuit Lermoos begint de wandeling in de buurt van het station, daar stijg je gedurende een 10-tal minuutjes. Vervolgens blijf je op dezelfde hoogte tot de afdaling naar Ehrwald begint.
                  | Deze wandeling duurt ongeveer 60 min, onderweg staan er banken met telkens een mooi zicht op het dal en de skipistes aan de andere kant van het dal. Ongeveer halfweg is er ook een privéchalet van een Oostenrijker met een bankje in de zon en een gastenboek (hüttebuch). Honderden mensen hebben hier al hun bewondering voor het sprookjesachtige dal beschreven. Zeker de moeite om eens, genietend van het zonnetje, deze commentaren te lezen. De hut ligt ongeveer een 50-tal meter van de wandelweg.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/wandelen1.jpg')
              .foto
                img(src='images/winter/wandelen2.jpg')
              .foto
                img(src='images/winter/wandelen3.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/wandelen1.jpg')
        section#section-6
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Activiteiten
                h3 Arrenslee
                p
                  | Een romantisch tochtje met de arrenslee?<br>
                  | Ideaal om een comfortabele tour door de omgeving te maken.<br>
                  | De slee met de wagenmenner vindt u meestal voor de kerk bij het plein.
                p <br>
                p <br>
                h3 Avondskieen
                p
                  | Op diverse avonden bestaat de mogelijkheid om op verlichte pistes af te dalen. O.a. in Berwang en Lermoos worden de pistes 's avonds opengesteld voor een avontuurlijke afdaling onder kunstlicht.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/arrenslee1.jpg' alt='Arrenslee')
              .foto
                img(src='images/winter/avondski1.jpg' alt='Avond ski in Bergwang')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/avondski1.jpg')
          .row
            .col-lg-12
            .containtable
              | <!--[if !IE]><!-->
              | <style>
              | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
              |  td:nth-of-type(1):before { content: "Type"; }
              |  td:nth-of-type(2):before { content: "Bezienswaardigheid"; }
              |  td:nth-of-type(3):before { content: "Plaats"; }
              |  td:nth-of-type(4):before { content: "Land"; }
              |  td:nth-of-type(5):before { content: "km"; }
              |  td:nth-of-type(6):before { content: "min"; }
              | }
              | </style>
              | <!--<![endif]-->
              table.animated(data-os-animation='fadeIn')
                thead
                  tr
                    th= Type
                    th= Bezienswaardigheid
                    th= Plaats
                    th= Land
                    th km
                    th minuten
                tbody
                  tr
                    td See
                    td 
                      a(href='http://www.zugspitzarena.com' target='new') Plansee Heiterwang
                    td Heiterwang
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.zugspitzarena.com' target='new') Blindsee
                    td Biberwier
                    td 
                      img(src= 'images/au.png')
                    td &nbsp
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.zugspitzarena.com' target='new') Mittersee
                    td Biberwier
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.zugspitzarena.com' target='new') Loisachquellen
                    td Biberwier
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.eibsee.de' target='new') EibSee
                    td Grainau
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td Klamm/waterval
                    td
                      a(href='http://www.leutasch.net' target='new') web Geisterklamm
                    td Leutasch
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.parnachklamm-info.de' target='new') web Partnachklamm
                    td Garmisch-Partenkichen
                    td 
                      img(src= 'images/de.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.hoellentalklamm-info.de' target='new') Höllentalklamm
                    td Grainaus
                    td 
                      img(src= 'images/de.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.imst.at/de/naturjuwele/rosengartenschlucht-blaue-grotte-1609625.html' target='new') Rosengartenschlucht
                    td Imst
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.stuibenfall.com' target='new') Stuibenfall
                    td Umhausen
                    td 
                      img(src= 'images/au.png')
                    td 67.2
                    td 66
                  tr
                    td &nbsp
                    td
                      a(href='http://www.stuibenfaelle.at' target='new') Stuibenfälle
                    td Reutte
                    td 
                      img(src= 'images/au.png')
                    td 20
                    td 24
                  tr
                    td Kastelen
                    td
                      a(href='http://www.schlosslinderhof.de' target='new') Schloß Linderhof
                    td Ettal
                    td 
                      img(src= 'images/de.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp
                    td
                      a(href='http://www.kloster-ettal.de' target='new') web Kloster Ettal
                    td Ettal
                    td 
                      img(src= 'images/de.png')
                    td 36.7
                    td 36
                  tr
                    td &nbsp
                    td 
                      a(href='http://www.neuschwanstein.de' target='new') "het sprookjeskasteel"
                    td Neuschwanstein	Schwangau
                    td 
                      img(src= 'images/de.png')
                    td 40.9
                    td 40
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.fernsteinsee.at' target='new') web Schloß Fernstein en Fernstein See
                    td Nassereith
                    td 
                      img(src= 'images/au.png')
                    td &nbsp 
                    td &nbsp
                  tr
                    td &nbsp 
                    td
                      a(href='http:/www.hohenschwangau.de' target='new') Kasteel Hohenschwangau
                    td Füssen
                    td 
                      img(src= 'images/de.png')
                    td 39.2
                    td 36
                  tr
                    td &nbsp 
                    td
                      a(href='www.ehrenberg.at' target='new') Burgenwelten Ehrenberg
                    td Reutte
                    td 
                      img(src= 'images/au.png')
                    td 18.4
                    td 19
                  tr
                    td &nbsp
                    td
                      a(href='http://www.linderhof.de' target='new') Kasteel Linderhof
                    td Ettak
                    td 
                      img(src= 'images/de.png')
                    td 45.9
                    td 48
                  tr
                    td Divers
                    td
                      a(href='http://kristallwelten.swarovski.com' target='new') Swarovski kristalwerelden
                    td Wattens
                    td 
                      img(src= 'images/au.png')
                    td 97
                    td 74
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.glentleiten.de' target='new') Openluchtmuseum Glentleiten
                    td Grossweil
                    td 
                      img(src= 'images/de.png')
                    td 52.8
                    td 47
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.knappenwelt.at' target='new') Knappenwelt Gurgltal
                    td Tarrenz
                    td 
                      img(src= 'images/au.png')
                    td 31.6
                    td 32
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.oetzi-dorf.at' target='new') Ötzi dorp - Umhausen
                    td Umhausen
                    td 
                      img(src= 'images/au.png')
                    td 65.3
                    td 62
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.highline179.com' target='new') Highline 179
                    td Reutte
                    td 
                      img(src= 'images/au.png')
                    td 20
                    td 22
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.dachau.nl' target='new') Concentratiekamp
                    td Dachau
                    td 
                      img(src= 'images/de.png')
                    td 127
                    td 92
                  tr
                    td Stadt
                    td
                      a(href='http://www.gapa.de' target='new') Garmisch-Partenkichen
                    td Garmisch-Partenkichen
                    td 
                      img(src= 'images/de.png')
                    td 22.3
                    td 22
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.muenchen.de' target='new') München
                    td München
                    td 
                      img(src= 'images/de.png')
                    td 111
                    td 87
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.innsbruck.info' target='new') Innsbruck
                    td Innsbruck
                    td 
                      img(src= 'images/au.png')
                    td 82.5
                    td 68
                  tr
                    td &nbsp 
                    td
                      a(href='http://www.fuessen.de' target='new') Füssen
                    td Füssen
                    td 
                      img(src= 'images/de.png')
                    td 40.9
                    td 40
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
