- var taal = 'DE'
if taal == 'NL' 
  include ./include/zomer/var_zomerNL.pug
  include ./include/links.pug
if taal == 'DE'
  include ./include/zomer/var_zomerDE.pug
  include ./include/linksDE.pug
if taal == 'EN'  
  include ./include/zomer/var_zomerEN.pug
  include ./include/linksEN.pug

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.wandel.start-overlay
    overlay.mountainbike
    overlay.golf
    overlay.klimmen
    include ./include/sidetabs.pug
    .container
      .header
        .figure.effect-menu
          img(src="images/header/zomerbalk.jpg")
          figcaption
            h2= koptext
              span  Ehrwald
            p= koptextsub
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href= HomeKnop data-bg="wandel") Home
              li.nav-link
                a(href="#section-2" data-bg="wandel")= Wandelen
              li.nav-link
                a(href="#section-3" data-bg="mountainbike")= Mountainbike
              li.nav-link
                a(href="#section-4" data-bg="golf")= Golf
              li.nav-link
                a(href="#section-5" data-bg="wandel")= Rodelen
              li.nav-link
                a(href="#section-6" data-bg="klimmen")= Klimmen
              li.nav-link
                a(href="#section-7" data-bg="wandel")= Activiteiten
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="wandel")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de 
              a(href="zomerDE.html")
                img(src="images/de.png")
            .nl
              a(href="zomer.html")
                img(src="images/nl.png")
            .en
              a(href="zomerEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/zomer/html_zomer1NL.pug
                if taal == 'DE'
                  include ./include/zomer/html_zomer1DE.pug
                if taal == 'EN'  
                  include ./include/zomer/html_zomer1EN.pug
              .row    
                .col-lg-4.col-sm-8
                  h4= Wandelroutes
                  .foto.reversegrow  
                    a(href= tourenlink target='new')
                      img(src='images/zomer/trail.jpg')
                      .kliktosee
                        span
                          p= klikfoto
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  a(href='images/galZomer/wandelen1.jpg' rel='wandelgroup' title='met de kids onderweg..').groupfb
                    img(src='images/zomer/wandel1.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galZomer/wandelen2.jpg' rel='wandelgroup' title='ongerepte natuur').groupfb
                    img(src='images/zomer/wandel2.jpg')
                  .kliktosee
                    span
                      p= klikfoto
                .foto
                  a(href='images/galZomer/wandelen3.jpg' rel='wandelgroup' title='uitdagende routes..').groupfb
                    img(src='images/zomer/wandel3.jpg')
                  a(href='images/galZomer/wandelen4.jpg' rel='wandelgroup' title='alpenwei').groupfb
                  a(href='images/galZomer/wandelen5.jpg' rel='wandelgroup' title='prachtige wandeling bergkam').groupfb
                  a(href='images/galZomer/wandelen6.jpg' rel='wandelgroup' title='prachtige wandeling bergkam').groupfb
                  .kliktosee
                    span
                      p= klikfoto
        section#section-3
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/zomer/html_zomer2NL.pug
                if taal == 'DE'
                  include ./include/zomer/html_zomer2DE.pug
                if taal == 'EN'  
                  include ./include/zomer/html_zomer2EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galZomer/mountainbike1.jpg' rel='mountainbike').groupfb
                  img(src='images/zomer/mountainbike1.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galZomer/mountainbike2.jpg' rel='mountainbike').groupfb
                  img(src='images/zomer/mountainbike2.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galZomer/mountainbike3.jpg' rel='mountainbike').groupfb
                  img(src='images/zomer/mountainbike3.jpg')
                a(href='images/galZomer/mountainbike4.jpg' rel='mountainbike').groupfb
                a(href='images/galZomer/mountainbike5.jpg' rel='mountainbike').groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto
                .slide
                  img(src='images/zomer/mountainbike1.jpg')
                .slide  
                  img(src='images/zomer/mountainbike2.jpg')
                .slide  
                  img(src='images/zomer/mountainbike3.jpg')
        section#section-4
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/zomer/html_zomer3NL.pug
                if taal == 'DE'
                  include ./include/zomer/html_zomer3DE.pug
                if taal == 'EN'  
                  include ./include/zomer/html_zomer3EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galZomer/golf1.jpg' rel='golf').groupfb
                  img(src='images/zomer/golf1.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galZomer/golf2.jpg' rel='golf').groupfb
                  img(src='images/zomer/golf2.jpg')
                a(href='images/galZomer/golf3.jpg' rel='golf').groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/zomer/golf1.jpg')
        section#section-5
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/zomer/html_zomer4NL.pug
                if taal == 'DE'
                  include ./include/zomer/html_zomer4DE.pug
                if taal == 'EN'  
                  include ./include/zomer/html_zomer4EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/zomer/rodelen1.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/zomer/rodelen1.jpg')
        section#section-6
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/zomer/html_zomer5NL.pug
                if taal == 'DE'
                  include ./include/zomer/html_zomer5DE.pug
                if taal == 'EN'  
                  include ./include/zomer/html_zomer5EN.pug
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                a(href='images/galZomer/klimmen1.jpg' rel='klim').groupfb
                  img(src='images/zomer/klimmen1.jpg')
                .kliktosee
                  span
                    p= klikfoto
              .foto
                a(href='images/galZomer/klimmen2.jpg' rel='klim').groupfb
                  img(src='images/zomer/klimmen2.jpg')
                a(href='images/galZomer/klimmen3.jpg' rel='klim').groupfb
                a(href='images/galZomer/klimmen4.jpg' rel='klim').groupfb
                a(href='images/galZomer/klimmen5.jpg' rel='klim').groupfb
                .kliktosee
                  span
                    p= klikfoto
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              .carousel-foto2
                .slide
                  img(src='images/zomer/klimmen1.jpg')
                .slide  
                  img(src='images/zomer/klimmen2.jpg')
        section#section-7
          .row
            .divider
            .col-lg-12.col-sm-12
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/zomer/html_zomer6NL.pug
                if taal == 'DE'
                  include ./include/zomer/html_zomer6DE.pug
                if taal == 'EN'  
                  include ./include/zomer/html_zomer6EN.pug
              .containtable
                | <!--[if !IE]><!-->
                | <style>
                | @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
                |  td:nth-of-type(1):before { content: "#{Type}"; }
                |  td:nth-of-type(2):before { content: "#{Bezienswaardigheid}"; }
                |  td:nth-of-type(3):before { content: "#{Plaats}"; }
                |  td:nth-of-type(4):before { content: "#{Land}"; }
                |  td:nth-of-type(5):before { content: "km"; }
                |  td:nth-of-type(6):before { content: "min"; }
                | }
                | </style>
                | <!--<![endif]-->
                table.animated(data-os-animation='fadeIn')
                  thead
                    tr
                      th= Type
                      th= Bezienswaardigheid
                      th= Plaats
                      th= Land
                      th km
                      th minuten
                  tbody
                    tr
                      td= Meer
                      td 
                        a(href='http://www.zugspitzarena.com' target='new') Plansee Heiterwang
                      td Heiterwang
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Blindsee
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Mittersee
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.zugspitzarena.com' target='new') Loisachquellen
                      td Biberwier
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.eibsee.de' target='new') EibSee
                      td Grainau
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td= Waterval
                      td
                        a(href='http://www.leutasch.net' target='new') web Geisterklamm
                      td Leutasch
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.parnachklamm-info.de' target='new') web Partnachklamm
                      td Garmisch-Partenkichen
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.hoellentalklamm-info.de' target='new') Höllentalklamm
                      td Grainaus
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.imst.at/de/naturjuwele/rosengartenschlucht-blaue-grotte-1609625.html' target='new') Rosengartenschlucht
                      td Imst
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.stuibenfall.com' target='new') Stuibenfall
                      td Umhausen
                      td 
                        img(src= 'images/au.png')
                      td 67.2
                      td 66
                    tr
                      td &nbsp
                      td
                        a(href='http://www.stuibenfaelle.at' target='new') Stuibenfälle
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 20
                      td 24
                    tr
                      td Kastelen
                      td
                        a(href='http://www.schlosslinderhof.de' target='new') Schloß Linderhof
                      td Ettal
                      td 
                        img(src= 'images/de.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp
                      td
                        a(href='http://www.kloster-ettal.de' target='new') web Kloster Ettal
                      td Ettal
                      td 
                        img(src= 'images/de.png')
                      td 36.7
                      td 36
                    tr
                      td &nbsp
                      td 
                        a(href='http://www.neuschwanstein.de' target='new') "het sprookjeskasteel"
                      td Neuschwanstein	Schwangau
                      td 
                        img(src= 'images/de.png')
                      td 40.9
                      td 40
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.fernsteinsee.at' target='new') web Schloß Fernstein en Fernstein See
                      td Nassereith
                      td 
                        img(src= 'images/au.png')
                      td &nbsp 
                      td &nbsp
                    tr
                      td &nbsp 
                      td
                        a(href='http:/www.hohenschwangau.de' target='new') Kasteel Hohenschwangau
                      td Füssen
                      td 
                        img(src= 'images/de.png')
                      td 39.2
                      td 36
                    tr
                      td &nbsp 
                      td
                        a(href='www.ehrenberg.at' target='new') Burgenwelten Ehrenberg
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 18.4
                      td 19
                    tr
                      td &nbsp
                      td
                        a(href='http://www.linderhof.de' target='new') Kasteel Linderhof
                      td Ettak
                      td 
                        img(src= 'images/de.png')
                      td 45.9
                      td 48
                    tr
                      td Divers
                      td
                        a(href='http://kristallwelten.swarovski.com' target='new') Swarovski kristalwerelden
                      td Wattens
                      td 
                        img(src= 'images/au.png')
                      td 97
                      td 74
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.glentleiten.de' target='new') Openluchtmuseum Glentleiten
                      td Grossweil
                      td 
                        img(src= 'images/de.png')
                      td 52.8
                      td 47
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.knappenwelt.at' target='new') Knappenwelt Gurgltal
                      td Tarrenz
                      td 
                        img(src= 'images/au.png')
                      td 31.6
                      td 32
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.oetzi-dorf.at' target='new') Ötzi dorp - Umhausen
                      td Umhausen
                      td 
                        img(src= 'images/au.png')
                      td 65.3
                      td 62
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.highline179.com' target='new') Highline 179
                      td Reutte
                      td 
                        img(src= 'images/au.png')
                      td 20
                      td 22
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.dachau.nl' target='new') Concentratiekamp
                      td Dachau
                      td 
                        img(src= 'images/de.png')
                      td 127
                      td 92
                    tr
                      td Stadt
                      td
                        a(href='http://www.gapa.de' target='new') Garmisch-Partenkichen
                      td Garmisch-Partenkichen
                      td 
                        img(src= 'images/de.png')
                      td 22.3
                      td 22
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.muenchen.de' target='new') München
                      td München
                      td 
                        img(src= 'images/de.png')
                      td 111
                      td 87
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.innsbruck.info' target='new') Innsbruck
                      td Innsbruck
                      td 
                        img(src= 'images/au.png')
                      td 82.5
                      td 68
                    tr
                      td &nbsp 
                      td
                        a(href='http://www.fuessen.de' target='new') Füssen
                      td Füssen
                      td 
                        img(src= 'images/de.png')
                      td 40.9
                      td 40
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
